# Seattle

In [ ]:
#https://data.seattle.gov/Public-Safety/SPD-Crime-Data-2008-Present/tazs-3rd5

#use report_datetime more data available

In [1]:
import pandas as pd
seattle = pd.read_csv("../Seattle_Data/SPD_Crime_Data__2008-Present.csv",
parse_dates=['Report DateTime']
)

In [2]:
#personal preference
seattle.columns = seattle.columns.str.lower().str.replace(' ', '_')

In [3]:
seattle.head()

,report_number,offense_id,offense_start_datetime,offense_end_datetime,report_datetime,group_a_b,crime_against_category,offense_parent_group,offense,offense_code,precinct,sector,beat,mcpp,100_block_address,longitude,latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,2020-02-05 11:24:31,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,2020-02-05 10:06:28,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,ROOSEVELT/RAVENNA,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,2020-044465,12605567653,02/02/2020 08:30:00 PM,02/02/2020 09:30:00 PM,2020-02-05 09:39:33,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,ROOSEVELT/RAVENNA,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,2020-044225,12605174036,02/05/2020 01:17:00 AM,02/05/2020 02:21:00 AM,2020-02-05 03:30:55,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,MAGNOLIA,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,2020-044076,12605081469,02/05/2020 12:51:21 AM,NaN,2020-02-05 00:51:31,B,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,90D,N,B,B2,BALLARD SOUTH,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193

In [4]:
seattle = seattle.loc[(seattle['report_datetime'] >= '2020-10-05')]

In [19]:
#seattle.to_csv('../Data_Clean/Seattle.csv')

In [8]:
seattle = seattle.rename(
    columns={'report_datetime': 'date', 'offense_parent_group': 'crime_category', 'report_number': 'city'})

In [9]:
seattle['city'] = 'Seattle'

In [11]:
seattle = seattle.loc[:, ['city', 'date', 'crime_category', 'offense']]

In [12]:
seattle.to_csv('../Data_Clean/Seattle.csv')

,city,date,crime_category,offense
857024,Seattle,2020-10-05 17:46:26,SEX OFFENSES,Rape
857025,Seattle,2020-10-05 17:42:32,BURGLARY/BREAKING&ENTERING,Burglary/Breaking & Entering
857026,Seattle,2020-10-05 17:16:36,LARCENY-THEFT,All Other Larceny
857027,Seattle,2020-10-05 17:10:12,ASSAULT OFFENSES,Simple Assault
857028,Seattle,2020-10-05 15:45:38,TRESPASS OF REAL PROPERTY,Trespass of Real Property
...,...,...,...,...
917292,Seattle,2021-07-04 10:05:19,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories
917293,Seattle,2021-07-04 10:05:19,LARCENY-THEFT,Theft From Motor Vehicle
917294,Seattle,2021-06-28 07:37:35,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories
917295,Seattle,2021-06-28 07:37:35,MOTOR VEHICLE THEFT,Motor Vehicle Theft
917296,Seattle,2021-02-05 13:30:02,STOLEN PROPERTY OFFENSES,Stolen Property Offenses