In [2]:
import pandas as pd

df = pd.DataFrame(data=pd.read_csv("CRIME_CATEGORIES_BINNED.csv"))
df2 = pd.DataFrame(data=pd.read_csv('Data_Clean/Atlanta.csv'))

In [8]:
df['crime_category'].unique()

array(['ASSAULT OFFENSES',
       'LARCENY/THEFT OFFENSES/STOLEN PROPERTY OFFENSES/MOTOR VEHICLE THEFT',
       'BURGLARY/BREAKING & ENTERING/ROBBERY', 'HOMICIDE OFFENSES',
       'ALL OTHER OFFENSES',
       'DISORDERLY CONDUCT/PEEPING TOM/CURFEW/LOITERING/VAGRANCY VIOLATIONS/DRUNKENNESS/TRESPASS OF REAL PROPERTY/HARRASSMENT (NON-FBI)/NON COMPLIANCE W/ LAWS (NON-FBI)',
       'SEX OFFENSES, FORCIBLE/SEX OFFENSES, NONFORCIBLE',
       'KIDNAPPING/ABDUCTION/RUNAWAY',
       'COUNTERFEITING/FORGERY/FRAUD OFFENSES/BAD CHECKS',
       'PORNOGRAPHY/OBSCENE MATERIAL/PROSTITUTION OFFENSES',
       'WEAPON LAW VIOLATIONS',
       'DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY/ARSON',
       'EXTORTION/BLACKMAIL', 'ANIMAL CRIMES (NON-FBI)',
       'DRUG/NARCOTIC OFFENSES/LIQUOR LAW VIOLATIONS/DRIVING UNDER THE INFLUENCE',
       'BRIBERY', 'ABUSE (CHILD OR ADULT) (NON-FBI)', 'GAMBLING OFFENSES',
       'MOTOR VEHICLE LAW/TRAFFIC VIOLATIONS (NON-FBI)',
       'FAMILY OFFENSES, NONVIOLENT', 'ENVIRONMENTAL CRIMES (NON-FBI)',
       'EMBEZZLEMENT'], dtype=object)

In [3]:
df2

       Unnamed: 0     city        date        crime_category
0               0  Atlanta  2020-12-31           AGG ASSAULT
1               1  Atlanta  2020-12-31   LARCENY-NON VEHICLE
2               2  Atlanta  2020-12-31   LARCENY-NON VEHICLE
3               3  Atlanta  2020-12-31  LARCENY-FROM VEHICLE
4               4  Atlanta  2020-12-31           AGG ASSAULT
...           ...      ...         ...                   ...
17445       17445  Atlanta  2021-07-01  LARCENY-FROM VEHICLE
17446       17446  Atlanta  2021-07-01   LARCENY-NON VEHICLE
17447       17447  Atlanta  2021-07-01            AUTO THEFT
17448       17448  Atlanta  2021-07-01              BURGLARY
17449       17449  Atlanta  2021-07-01  LARCENY-FROM VEHICLE

[17450 rows x 4 columns]