In [8]:
import pandas as pd

df = pd.DataFrame(data=pd.read_csv("CRIME_CATEGORIES_BINNED.csv"))
df2 = pd.DataFrame(data=pd.read_csv(''))

,city,crime_category_original,crime_category
0,Atlanta,AGG ASSAULT|AGG ASSAULT|Atlanta,ASSAULT OFFENSES
1,Atlanta,AUTO THEFT|AUTO THEFT|Atlanta,LARCENY/THEFT OFFENSES/STOLEN PROPERTY OFFENSE...
2,Atlanta,BURGLARY|BURGLARY|Atlanta,BURGLARY/BREAKING & ENTERING/ROBBERY
3,Atlanta,HOMICIDE|HOMICIDE|Atlanta,HOMICIDE OFFENSES
4,Atlanta,LARCENY|LARCENY|Atlanta,LARCENY/THEFT OFFENSES/STOLEN PROPERTY OFFENSE...
...,...,...,...
7418,Seattle,SEX OFFENSES|Sexual Assault With An Object|Sea...,"SEX OFFENSES, FORCIBLE/SEX OFFENSES, NONFORCIBLE"
7419,Seattle,SEX OFFENSES|Sodomy|Seattle,"SEX OFFENSES, FORCIBLE/SEX OFFENSES, NONFORCIBLE"
7420,Seattle,STOLEN PROPERTY OFFENSES|Stolen Property Offen...,LARCENY/THEFT OFFENSES/STOLEN PROPERTY OFFENSE...
7421,Seattle,TRESPASS OF REAL PROPERTY|Trespass of Real Pro...,DISORDERLY CONDUCT/PEEPING TOM/CURFEW/LOITERIN...
7422,Seattle,WEAPON LAW VIOLATIONS|Weapon Law Violations|Se...,WEAPON LAW VIOLATIONS