In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#to do:
#standardize col names?
#check for duplicates between this data and whats already in SQL

In [ ]:
#following few cell all copied from SQL Server for easier access

In [ ]:
cities_copied = '''Atlanta
Austin
Baton Rouge
Boston
Chicago
Cincinnati
Dallas
Denver
Fort Worth
Gainesville
Los Angeles
Nashville
New York City
Philadelphia
San Francisco
Seattle'''

In [ ]:
urls_copied = '''https://www.atlantapd.org/i-want-to/crime-data-downloads
https://data.austintexas.gov/Public-Safety/Crime-Reports/fdj4-gpfu
https://data.brla.gov/Public-Safety/Baton-Rouge-Crime-Incidents/fabb-cnnu
https://data.boston.gov/dataset/crime-incident-reports-august-2015-to-date-source-new-system/resource/12cb3883-56f5-47de-afa5-3b1cf61b257b
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2
https://data.cincinnati-oh.gov/Safety/PDI-Police-Data-Initiative-Crime-Incidents/k59e-2pvf
https://www.dallasopendata.com/Public-Safety/Police-Incidents/qv6i-rri7/data
https://www.denvergov.org/opendata/dataset/city-and-county-of-denver-crime
https://data.fortworthtexas.gov/Public-Safety/Crime-Data/k6ic-7kp7
https://data.cityofgainesville.org/Public-Safety/Crime-Responses/gvua-xt9q
https://data.lacity.org/A-Safe-City/Crime-Data-from-2020-to-Present/2nrs-mtv8
https://data.nashville.gov/Police/Metro-Nashville-Police-Department-Incidents/2u6v-ujjs
https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Current-Year-To-Date-/5uac-w243
https://www.opendataphilly.org/dataset/crime-incidents
https://data.sfgov.org/Public-Safety/Police-Department-Incident-Reports-2018-to-Present/wg3w-h783
https://data.seattle.gov/Public-Safety/SPD-Crime-Data-2008-Present/tazs-3rd5'''

In [ ]:
cities = str.split(cities_copied, '\n')
urls = str.split(urls_copied, '\n')
sources = pd.DataFrame({'City' : cities, 'URL' :urls})

In [ ]:
#Data found here:
for i in sources['URL']:
    print(i)

In [ ]:
#Note: all cleaned data is included so the following code does not need to be run again to create the files
#Austin, Chicago, and NYC are particularly slow

# Atlanta, GA

In [ ]:
#Reported between 09/30/2020 - 07/01/2021

In [2]:
import pandas as pd

atlanta_2021 = pd.read_csv("Atlanta_Data/COBRA-2021.csv", dtype = {0: 'string'}, parse_dates = {'occurred': [2, 3]})
#retrieved 7/7/21

In [ ]:
atlanta_2021.shape

In [ ]:
atlanta_2021.dtypes

#checking what format data was imported as, but

In [3]:
atlanta_2021.head()

,occurred,offense_id,rpt_date,poss_date,poss_time,beat,location,ibr_code,UC2_Literal,neighborhood,npu,lat,long
0,5/19/2021 15:20,021140096,5/20/2021,5/19/2021,15:25,103,1720 MARIETTA BLVD NW,23F,LARCENY-FROM VEHICLE,Hills Park,D,33.801687,-84.436444
1,1/31/2021 00:00,021320347,2/1/2021,2/1/2021,06:53,509,229 COURTLAND ST NE,23F,LARCENY-FROM VEHICLE,Downtown,M,33.760759,-84.383773
2,6/27/2021 21:17,021791668,6/28/2021,6/28/2021,20:00,102,870 MAYSON TURNER RD NW,23H,LARCENY-NON VEHICLE,Vine City,L,33.755610,-84.416100
3,2/11/2021 19:15,061583880,2/11/2021,2/11/2021,20:29,401,850 OAK ST SW,23F,LARCENY-FROM VEHICLE,West End,T,33.740594,-84.415800
4,6/13/2021 13:00,200017887,6/15/2021,6/13/2020,13:30,603,595 PIEDMONT AVE NE,23C,LARCENY-NON VEHICLE,Old Fourth Ward,M,33.770544,-84.381146

In [4]:
#drop anything without occurred date and made it of type datetime
atlanta_2021 = atlanta_2021[~atlanta_2021['occurred'].str.contains('nan')]
atlanta_2021['occurred'] = pd.to_datetime(atlanta_2021['occurred'])

In [5]:
atlanta_2021.count()

occurred        10204
offense_id      10204
rpt_date        10204
poss_date        9994
poss_time        9994
beat            10204
location        10204
ibr_code        10204
UC2_Literal     10204
neighborhood     9784
npu             10143
lat             10204
long            10204
dtype: int64

In [ ]:
min(atlanta_2021.occurred)

In [ ]:
max(atlanta_2021.occurred)

In [ ]:
atlanta_2020 = pd.read_csv("Atlanta_Data/COBRA-2020(NEW RMS 9-30 12-31).csv", dtype = {0 : "string"}, parse_dates= {"occurred": [2, 3]})
#retrieved 7/9/21

In [ ]:
atlanta_2020.head()

In [ ]:
atlanta_2020.shape

In [ ]:
atlanta_2020.dtypes

In [ ]:
atlanta_2020.count()

In [ ]:
#drop empty columns
atlanta_2020.dropna(how= "all", axis = 1, inplace = True)

In [ ]:
#drop crimes with no date and reset the index
atlanta_2020 = atlanta_2020[~atlanta_2020['occurred'].str.contains('nan')]
atlanta_2020.reset_index(drop = True, inplace= True)

In [ ]:
atlanta_2020.count()

In [ ]:
atlanta_2020['occurred'] = pd.to_datetime(atlanta_2020['occurred'])
#throws error so will find and fix dates that don't fit format

In [ ]:
atlanta_2020[~atlanta_2020['occurred'].str.contains('2020')]

In [ ]:
atlanta_2020.loc[3599, 'occurred'] = '2020-10-30 17:56'
atlanta_2020.loc[4745, 'occurred'] = '2020-11-01 23:56'

In [ ]:
#change to datetime
atlanta_2020['occurred'] = pd.to_datetime(atlanta_2020['occurred'])

In [ ]:
min(atlanta_2020.occurred)

In [ ]:
max(atlanta_2020.occurred)

In [ ]:
#check that both dfs have same columns
diff = atlanta_2020.columns.difference(atlanta_2021.columns)
diff

In [ ]:
#combine dfs
#correct index first
start = atlanta_2020.shape[0]
stop = atlanta_2020.shape[0] + atlanta_2021.shape[0]
atlanta_2021.index = range(start, stop)
atlanta_list = [atlanta_2020, atlanta_2021]
atlanta = pd.concat(atlanta_list)
atlanta.shape

In [ ]:
atlanta.count()

In [ ]:
atlanta['rpt_date'] = pd.to_datetime(atlanta['rpt_date'])

In [ ]:
min(atlanta['rpt_date'])

In [ ]:
max(atlanta['rpt_date'])

In [ ]:
atlanta.head()

In [ ]:
atlanta.to_csv("Data_Clean/Atlanta.csv")

# Austin, TX

In [ ]:
#Reported between 09/26/20 and 07/03/21

In [ ]:
austin = pd.read_csv("Austin_Data/Crime_Reports.csv", dtype = {0: "string"}, parse_dates = [4, 7])
#retrieved 7/10/21
#throws warning re: column 16; not even sure if we need column 16 (PRA)

In [ ]:
austin.head()

In [ ]:
austin.dtypes

In [ ]:
#personal preference
austin.columns = austin.columns.str.lower().str.replace(' ', '_')

In [ ]:
#data in sql is up to 6/29/20
austin = austin[austin.report_date_time >= '2020-09-26']
austin.reset_index(drop = True, inplace = True)

In [ ]:
min(austin['occurred_date_time'])

In [ ]:
max(austin['occurred_date_time'])

In [ ]:
min(austin['report_date_time'])

In [ ]:
max(austin['report_date_time'])

In [ ]:
austin.shape

In [ ]:
austin.head()

In [ ]:
#checking that time and crime present in every column
austin.count()

In [ ]:
austin.to_csv("Data_Clean/Austin.csv")

# Baton Rouge, LA

In [ ]:
#dont seem to have reported on date

In [ ]:
baton_rouge = pd.read_csv("Baton_Rouge_Data/Baton_Rouge_Crime_Incidents.csv", dtype = {0 : "string"}, parse_dates= {"occurred" : [1, 2]})
#retrieved on 7/10/21

In [ ]:
baton_rouge.head()

In [ ]:
baton_rouge.dtypes

In [ ]:
baton_rouge.shape

In [ ]:
baton_rouge.columns = baton_rouge.columns.str.lower().str.replace(" ", "_")

In [ ]:
#checking that all items in occurred column are correct format, so that they can be converted to datetime type
baton_rouge = baton_rouge[baton_rouge["occurred"].str.match(r'[\d]{2}/[\d]{2}/[\d]{4} [\d]{4}')]

In [ ]:
baton_rouge["occurred"] = pd.to_datetime(baton_rouge["occurred"])

In [ ]:
#checking that time and crime present in every column
baton_rouge.count()

In [ ]:
baton_rouge.to_csv("Data_Clean/Baton_Rouge.csv")

# Boston, MA

In [ ]:
#doesnt have reported on date

In [ ]:
boston_2021 = pd.read_csv("Boston_Data/tmpp_u7gs36.csv", dtype= {0: "string"}, parse_dates= [7])
#retrieved 7/15/21

In [ ]:
boston_2021.head()

In [ ]:
boston_2021.shape

In [ ]:
boston_2021.columns = boston_2021.columns.str.lower()

In [ ]:
#incident_number = PLTEST... dont look like real crimes, might want to drop

In [ ]:
min(boston_2021['occurred_on_date'])

In [ ]:
max(boston_2021['occurred_on_date'])

In [ ]:
boston_2021.count()

In [ ]:
#drop empty columns
boston_2021.dropna(how = "all", axis = 1, inplace = True)

In [ ]:
boston_2020 = pd.read_csv("Boston_Data/script_113631134_20210423193017_combine.csv", dtype={0: "string"}, parse_dates= [7])
#retrieved 7/15/2021

In [ ]:
boston_2020.head()

In [ ]:
boston_2020.shape

In [ ]:
boston_2020.dtypes

In [ ]:
boston_2020.columns = boston_2020.columns.str.lower()

In [ ]:
min(boston_2020['occurred_on_date'])

In [ ]:
max(boston_2020['occurred_on_date'])

In [ ]:
boston_2020.count()

In [ ]:
boston_2020.dropna(how = "all", axis = 1, inplace = True)

In [ ]:
#check both dfs have same columns
diff = boston_2021.columns.difference(boston_2020.columns)
diff

In [ ]:
#combine dfs
start = boston_2020.shape[0]
stop = boston_2020.shape[0] + boston_2021.shape[0]
boston_2021.index = range(start, stop)
boston_list = [boston_2020, boston_2021]
boston = pd.concat(boston_list)
boston.shape

In [ ]:
boston.to_csv("Data_Clean/Boston.csv")

# Chicago, IL

In [ ]:
#Reported from 09/25/2020 to 07/18/2021

In [ ]:
chicago = pd.read_csv("Chicago_Data/Crimes_-_2001_to_Present.csv", parse_dates = [2, 18])
#retrieved 7/19/21

In [ ]:
chicago.head()

In [ ]:
chicago.dtypes

In [ ]:
chicago = chicago[chicago['Updated On'] >= "2020-09-25"]
chicago.reset_index(drop = True, inplace = True)

In [ ]:
chicago.shape

In [ ]:
chicago.to_csv("Chicago_Data/Chicago.csv")

In [ ]:
#chicago = pd.read_csv("Chicago_Data/Chicago.csv")

In [ ]:
chicago.columns = chicago.columns.str.lower().str.replace(" ", "_")

In [ ]:
chicago.updated_on.min()

In [ ]:
chicago.updated_on.max()

In [ ]:
chicago.count()

In [ ]:
min(chicago["date"])

In [ ]:
max(chicago["date"])

In [ ]:
chicago.to_csv("Data_Clean/Chicago.csv")

# Cincinnati, OH

In [ ]:
#Reported between 10/02/2020 and 07/14/2021

In [ ]:
cincinnati = pd.read_csv("Cincinnati_Data/PDI__Police_Data_Initiative__Crime_Incidents.csv", dtype= {1 : "string"}, parse_dates= [2, 3, 4])
#retrieved 7/16/21
#throws warning re: column 8, 17; can fix if we end up using these (beat, rpt_area)

In [ ]:
cincinnati.head()

In [ ]:
cincinnati.columns = cincinnati.columns.str.lower()

In [ ]:
cincinnati.dtypes

In [ ]:
#filter out items already in SQL db
cincinnati = cincinnati[cincinnati['date_reported'] >= '2020-10-02']
cincinnati.reset_index(drop = True, inplace = True)

In [ ]:
min(cincinnati["date_reported"])

In [ ]:
max(cincinnati["date_reported"])

In [ ]:
cincinnati.shape

In [ ]:
cincinnati["date_to"] = pd.to_datetime(cincinnati["date_to"])

In [ ]:
min(cincinnati["date_from"])

In [ ]:
max(cincinnati["date_from"])

In [ ]:
cincinnati.count()

In [ ]:
#drop all rows with no crime listed
cincinnati.dropna(subset = ['offense'], inplace= True)

In [ ]:
cincinnati.to_csv("Data_Clean/Cincinnati.csv")

# Dallas, TX

In [ ]:
# Reported between 10/08/2020 - 07/16/2021

In [ ]:
dallas = pd.read_csv("Dallas_Data/Police_Incidents.csv", parse_dates= [17, 23, 30])
#retrieved 7/16/21
#error for columns: Special Report (Pre-RMS), Victim Zip Code, Victim Business Phone, Reviewing Officer Badge No

In [ ]:
dallas.head()

In [ ]:
dallas.shape

In [ ]:
pd.set_option('display.max_rows', 100)

In [ ]:
dallas.dtypes

In [ ]:
dallas.columns = dallas.columns.str.lower().str.replace(" ", "_")

In [ ]:
#filter out data already in sql db
dallas["date_of_report"] = pd.to_datetime(dallas["date_of_report"])
dallas = dallas[dallas["date_of_report"] >= "2020-10-08"]
dallas.reset_index(drop = True, inplace = True)

In [ ]:
min(dallas["date_of_report"])

In [ ]:
max(dallas["date_of_report"])

In [ ]:
dallas.shape

In [ ]:
#check that every row has date and crime also for empty columns
dallas.count()

In [ ]:
#drop empty columns
dallas.dropna(how = "all", axis = 1, inplace = True)

In [ ]:
dallas.to_csv("Data_Clean/Dallas.csv")

# Denver, CO

In [ ]:
#Reported between 10/08/2020 and 07/15/2021

In [ ]:
denver = pd.read_csv('Denver_Data/crime.csv', dtype= {0: "string", 1: "string"}, parse_dates= [6, 7, 8])
#retrieved 7/16/21

In [ ]:
denver.head()

In [ ]:
denver.dtypes

In [ ]:
denver.columns = denver.columns.str.lower()

In [ ]:
denver = denver[denver['reported_date'] >= "2020-10-08"]
denver.reset_index(drop = True, inplace = True)

In [ ]:
min(denver['reported_date'])

In [ ]:
max(denver['reported_date'])

In [ ]:
denver.shape

In [ ]:
denver.count()

In [ ]:
denver.to_csv("Data_Clean/Denver.csv")

# Fort Worth, TX

In [ ]:
#Reported between 10/04/2020 and 07/11/2021

In [ ]:
fort_worth = pd.read_csv("Forth_Worth_Data/Crime_Data.csv", dtype= {0: "string", 1: "string"}, parse_dates= [2, 4])
#retrieved 7/16/21

In [ ]:
fort_worth.head()

In [ ]:
fort_worth.dtypes

In [ ]:
fort_worth.columns = fort_worth.columns.str.lower().str.replace(" ", "_")

In [ ]:
fort_worth = fort_worth[fort_worth["reported_date"] >= "2020-10-04"]
fort_worth.reset_index(drop = True, inplace = True)

In [ ]:
fort_worth['reported_date'].min()

In [ ]:
fort_worth['reported_date'].max()

In [ ]:
fort_worth.shape

In [ ]:
fort_worth.count()

In [ ]:
fort_worth.to_csv("Data_Clean/Fort_Worth.csv")

# Gainesville, FL

In [ ]:
#Reported from 10/04/2020 to 07/13/2021

In [ ]:
gainesville = pd.read_csv("Gainesville_Data/Crime_Responses.csv", dtype= {0: "string"}, parse_dates= [2, 3])
#retrieved 7/16/21

In [ ]:
gainesville.head()

In [ ]:
gainesville.dtypes

In [ ]:
gainesville.columns = gainesville.columns.str.lower().str.replace(" ", "_")

In [ ]:
gainesville = gainesville[gainesville['report_date'] >= '2020-10-04']
gainesville.reset_index(drop= True, inplace= True)

In [ ]:
min(gainesville['report_date'])

In [ ]:
max(gainesville['report_date'])

In [ ]:
gainesville.shape

In [ ]:
gainesville.count()

In [ ]:
gainesville.to_csv("Data_Clean/Gainesville.csv")

# Los Angeles

In [ ]:
#Reported from 09/28/2020 to 07/12/2021

In [ ]:
los_angeles = pd.read_csv("Los_Angeles_Data/Crime_Data_from_2020_to_Present.csv", dtype= {0: "string"}, parse_dates= {"occurred": [2, 3]})
#retrieved 7/16/21

In [ ]:
los_angeles.head()

In [ ]:
los_angeles.dtypes

In [ ]:
#fixing datetime format and changing column to datetime type
los_angeles['occurred'] = los_angeles['occurred'].str[:10] + los_angeles['occurred'].str[-5:]
los_angeles['occurred'] = pd.to_datetime(los_angeles['occurred'])

In [ ]:
los_angeles.columns = los_angeles.columns.str.lower().str.replace(" ", "_")

In [ ]:
los_angeles['date_rptd'] = pd.to_datetime(los_angeles['date_rptd'])

In [ ]:
#filtering out all data already in sql db
los_angeles = los_angeles[los_angeles['date_rptd'] >= '2020-09-28']
los_angeles.reset_index(drop = True, inplace = True)

In [ ]:
min(los_angeles['date_rptd'])

In [ ]:
max(los_angeles['date_rptd'])

In [ ]:
#checking that all rows have crime and time, also that there are no empty columns
los_angeles.count()

In [ ]:
los_angeles.to_csv('Data_Clean/Los_Angeles.csv')

# Nashville, TN

In [ ]:
nashville = pd.read_csv("Nashville_Data/Metro_Nashville_Police_Department_Incidents.csv", dtype= {0: "string", 1: "string"}, parse_dates= [7, 8])
#retrieved 7/16/21

In [ ]:
nashville.head()

In [ ]:
nashville.dtypes

In [ ]:
nashville.columns = nashville.columns.str.lower().str.replace(" ", "_")

In [ ]:
#change incident reported column to datetime
nashville.dropna(subset= ['incident_reported'], inplace= True)
nashville = nashville[nashville['incident_reported'].str.match(r'[\d]{2}/[\d]{2}/[\d]{4} [\d]{2}:[\d]{2}:[\d]{2}')]
nashville.drop(nashville[nashville['incident_reported'].str.contains("0202")].index, inplace= True)
nashville.drop(nashville[nashville['incident_reported'].str.contains("4240")].index, inplace = True)
nashville['incident_reported'] = pd.to_datetime(nashville['incident_reported'])
nashville.reset_index(drop= True, inplace = True)

In [ ]:
#filtering out all data already in sql db
nashville = nashville[nashville['incident_reported'] >= '2020-10-07']
nashville.reset_index(drop = True, inplace = True)

In [ ]:
nashville.incident_reported.min()

In [ ]:
nashville.incident_reported.max()

In [ ]:
nashville.shape

In [ ]:
nashville.count()

In [ ]:
nashville.to_csv('Data_Clean/Nashville.csv')

# NYC

In [ ]:
import pandas as pd
nyc_2021 = pd.read_csv("NYC_Data/NYPD_Complaint_Data_Current__Year_To_Date_.csv", dtype= {0: "string"}, parse_dates= {"complaint_from": [3, 4], "complaint_to": [5, 6]})
#retrieved 7/16/2021

In [74]:
nyc_2021.head(100)

,complaint_from,complaint_to,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,JURISDICTION_CODE,JURIS_DESC,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,2021-03-31 15:08:00,03/31/2021 15:12:00,825041611,84,BROOKLYN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,E,988041,191045,40.691059,-73.986331,"(40.69105856700002, -73.98633121699999)",POINT (-73.98633121699999 40.69105856700002)
1,2021-03-27 19:29:00,nan nan,206649900,7,NaN,NaN,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,25-44,WHITE HISPANIC,D,987818,200162,40.716083,-73.987131,"(40.71608268700004, -73.98713051799997)",POINT (-73.98713051799997 40.71608268700004)
2,2021-03-27 13:00:00,nan nan,294801329,75,NaN,COMPLETED,NaN,NaN,NaN,N.Y. POLICE DEPT,...,NaN,25-44,BLACK,M,1018889,182737,40.668188,-73.875137,"(40.66818803900002, -73.87513706799997)",POINT (-73.87513706799997 40.66818803900002)
3,2021-03-26 16:40:00,nan nan,270261096,14,MANHATTAN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,D,987220,212676,40.750431,-73.989282,"(40.75043076800005, -73.98928217599996)",POINT (-73.98928217599996 40.75043076800005)
4,2021-03-26 13:09:00,03/26/2021 14:29:00,433883572,110,QUEENS,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,D,1021552,212402,40.749601,-73.865373,"(40.74960053300003, -73.86537333399998)",POINT (-73.86537333399998 40.74960053300003)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2021-01-06 12:10:00,01/06/2021 16:45:00,444277080,75,BROOKLYN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,25-44,UNKNOWN,M,1022966,182558,40.667680,-73.860442,"(40.66767983500005, -73.86044161899997)",POINT (-73.86044161899997 40.66767983500005)
96,2021-01-05 21:01:00,01/05/2021 21:03:00,211944241,67,BROOKLYN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,E,1004936,173083,40.641734,-73.925463,"(40.64173351900007, -73.92546349699995)",POINT (-73.92546349699995 40.64173351900007)
97,2021-01-05 15:30:00,01/05/2021 15:35:00,531307550,105,QUEENS,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,25-44,BLACK,F,1055614,186261,40.677641,-73.742716,"(40.67764073700005, -73.74271647099994)",POINT (-73.74271647099994 40.67764073700005)
98,2021-01-04 14:00:00,01/04/2021 14:05:00,309822687,40,BRONX,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,D,1008624,236597,40.816054,-73.911944,"(40.81605443800004, -73.91194446899993)",POINT (-73.91194446899993 40.81605443800004)
99,2020-12-14 09:00:00,12/14/2020 09:30:00,830436998,106,QUEENS,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,25-44,BLACK,M,1036642,187956,40.682426,-73.811102,"(40.68242573300005, -73.81110182399993)",POINT (-73.81110182399993 40.68242573300005)

In [ ]:
nyc_2021.columns = nyc_2021.columns.str.lower()

In [ ]:
nyc_2021.dtypes

In [ ]:
nyc_2021['rpt_dt'] = pd.to_datetime(nyc_2021['rpt_dt'])

In [ ]:
# Found pandas chunksize attribute to improve render time. Should use for all read_csv - leea

In [70]:
import pandas as pd
import numpy as np

nyc_2020 = pd.read_csv(
"NYC_Data/NYPD_Complaint_Data_Historic.csv", 
dtype={0: "string", 18: "string", 20: "string"},
chunksize=1000, 
#parse_dates={"complaint_from": [1, 2], "complaint_to": [3, 4]}
parse_dates=['RPT_DT', ["CMPLNT_FR_DT", "CMPLNT_FR_TM"],
                 ["CMPLNT_TO_DT", "CMPLNT_TO_TM"]]
).get_chunk()

nyc_2020 = nyc_2020.rename(columns={"CMPLNT_FR_DT_CMPLNT_FR_TM": "complaint_from",
                "CMPLNT_TO_DT_CMPLNT_TO_TM":	"complaint_to"})

#retrieved 7/16/21

In [72]:
nyc_2020.head(100)

,complaint_from,complaint_to,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,2019-12-31 17:30:00,nan nan,394506329,32.0,2019-12-31,118,DANGEROUS WEAPONS,793.0,WEAPONS POSSESSION 3,COMPLETED,...,NaN,NaN,40.820927,-73.943324,"(40.82092679700002, -73.94332421899996)",PATROL BORO MAN NORTH,NaN,UNKNOWN,UNKNOWN,E
1,2019-12-29 16:31:00,12/29/2019 16:54:00,968873685,47.0,2019-12-29,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,...,NaN,NaN,40.885701,-73.861640,"(40.885701406000074, -73.86164032499995)",PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,E
2,2019-12-15 18:45:00,nan nan,509837549,109.0,2019-12-29,578,HARRASSMENT 2,638.0,"HARASSMENT,SUBD 3,4,5",COMPLETED,...,M,NaN,40.742281,-73.819824,"(40.74228115600005, -73.81982408)",PATROL BORO QUEENS NORTH,NaN,25-44,WHITE HISPANIC,F
3,2019-12-28 01:00:00,nan nan,352454313,47.0,2019-12-28,126,MISCELLANEOUS PENAL LAW,117.0,RECKLESS ENDANGERMENT 1,COMPLETED,...,M,NaN,40.875311,-73.847545,"(40.87531145100007, -73.84754521099995)",PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,E
4,2008-09-05 21:41:00,nan nan,248803469,NaN,2008-09-05,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,40.698827,-73.938819,"(40.698827283, -73.938819047)",NaN,NaN,25-44,BLACK,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019-11-25 15:00:00,nan nan,951506088,109.0,2019-11-26,340,FRAUDS,718.0,"FRAUD,UNCLASSIFIED-MISDEMEANOR",COMPLETED,...,NaN,NaN,40.766002,-73.822316,"(40.76600243000007, -73.82231581199994)",PATROL BORO QUEENS NORTH,NaN,65+,BLACK,M
96,2019-07-01 00:00:00,nan nan,281016073,43.0,2019-11-26,104,RAPE,153.0,RAPE 3,COMPLETED,...,M,NaN,40.823101,-73.869690,"(40.82310129900002, -73.86969046099993)",PATROL BORO BRONX,NaN,<18,WHITE HISPANIC,F
97,2019-11-25 16:35:00,nan nan,867160556,122.0,2019-11-25,235,DANGEROUS DRUGS,511.0,"CONTROLLED SUBSTANCE, POSSESSI",COMPLETED,...,NaN,NaN,40.574286,-74.105914,"(40.57428568800003, -74.10591440499996)",PATROL BORO STATEN ISLAND,NaN,UNKNOWN,UNKNOWN,E
98,2019-11-24 20:00:00,nan nan,915335692,110.0,2019-11-25,578,HARRASSMENT 2,638.0,"HARASSMENT,SUBD 3,4,5",COMPLETED,...,M,NaN,40.739216,-73.884567,"(40.739216009000074, -73.88456669599998)",PATROL BORO QUEENS NORTH,NaN,25-44,BLACK,M
99,2019-11-23 22:00:00,11/25/2019 08:00:00,441974334,46.0,2019-11-25,341,PETIT LARCENY,321.0,"LARCENY,PETIT FROM AUTO",COMPLETED,...,NaN,NaN,40.859192,-73.900677,"(40.85919215900003, -73.90067697099995)",PATROL BORO BRONX,NaN,18-24,UNKNOWN,F

In [76]:
#df.columns.str.lower()
nyc_2020.columns = nyc_2020.columns.str.lower()

In [41]:
#df.columns.get_loc('rpt_dt')
nyc_2020.columns

Index(['complaint_from', 'complaint_to', 'cmplnt_num', 'addr_pct_cd', 'rpt_dt',
       'ky_cd', 'ofns_desc', 'pd_cd', 'pd_desc', 'crm_atpt_cptd_cd',
       'law_cat_cd', 'boro_nm', 'loc_of_occur_desc', 'prem_typ_desc',
       'juris_desc', 'jurisdiction_code', 'parks_nm', 'hadevelopt',
       'housing_psa', 'x_coord_cd', 'y_coord_cd', 'susp_age_group',
       'susp_race', 'susp_sex', 'transit_district', 'latitude', 'longitude',
       'lat_lon', 'patrol_boro', 'station_name', 'vic_age_group', 'vic_race',
       'vic_sex'],
      dtype='object')

In [66]:
nyc_2020.dtypes

CMPLNT_FR_DT_CMPLNT_FR_TM    datetime64[ns]
CMPLNT_TO_DT_CMPLNT_TO_TM            object
CMPLNT_NUM                           string
ADDR_PCT_CD                         float64
RPT_DT                       datetime64[ns]
KY_CD                                 int64
OFNS_DESC                            object
PD_CD                               float64
PD_DESC                              object
CRM_ATPT_CPTD_CD                     object
LAW_CAT_CD                           object
BORO_NM                              object
LOC_OF_OCCUR_DESC                    object
PREM_TYP_DESC                        object
JURIS_DESC                           object
JURISDICTION_CODE                   float64
PARKS_NM                             string
HADEVELOPT                           object
HOUSING_PSA                          string
X_COORD_CD                          float64
Y_COORD_CD                          float64
SUSP_AGE_GROUP                       object
SUSP_RACE                            object
SUSP_SEX                             object
TRANSIT_DISTRICT                    float64
Latitude                            float64
Longitude                           float64
Lat_Lon                              object
PATROL_BORO                          object
STATION_NAME                         object
VIC_AGE_GROUP                        object
VIC_RACE                             object
VIC_SEX                              object
dtype: object

In [40]:
#nyc_2020['rpt_dt'] = pd.to_datetime(nyc_2020['rpt_dt'])
#Series.dt.tz_localize()
#df.astype({'rpt_dt': 'datetime64'}).dtypes

In [77]:
nyc_2020 = nyc_2020[nyc_2020['rpt_dt'] >= '2020-06-30']

In [78]:
nyc_2020.head()

,complaint_from,complaint_to,cmplnt_num,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,pd_desc,crm_atpt_cptd_cd,...,susp_sex,transit_district,latitude,longitude,lat_lon,patrol_boro,station_name,vic_age_group,vic_race,vic_sex
121,2020-12-22 17:46:00,nan nan,808857971,32.0,2020-12-22,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,40.815732,-73.945420,"(40.81573205300003, -73.94542041099999)",NaN,NaN,25-44,BLACK HISPANIC,M
652,2020-09-02 20:40:00,nan nan,990133707,70.0,2020-09-02,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,40.651323,-73.956961,"(40.65132343000005, -73.95696100099997)",NaN,NaN,18-24,BLACK,M
662,2020-07-20 23:44:00,nan nan,420348781,52.0,2020-07-20,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,M,NaN,40.877554,-73.872939,"(40.877554428000046, -73.87293947099994)",NaN,NaN,18-24,WHITE HISPANIC,M
663,2020-07-02 01:07:00,nan nan,462496511,44.0,2020-07-02,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,40.837782,-73.919458,"(40.83778161800007, -73.91945797099999)",NaN,NaN,25-44,BLACK HISPANIC,M
669,2020-11-04 09:14:00,nan nan,921351410,28.0,2020-11-04,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,M,NaN,40.799467,-73.951531,"(40.799466801000044, -73.95153053599995)",NaN,NaN,25-44,BLACK,M

In [79]:
nyc_2020.reset_index(drop = True, inplace = True)
#drops 0 index for index numbers

In [ ]:
nyc_2020.shape

In [ ]:
nyc_2020.to_csv('NYC_Data/NYC_2020.csv')