# Denver, CO

In [4]:
import pandas as pd
denver = pd.read_csv('crime.csv', parse_dates=['FIRST_OCCURRENCE_DATE'])

In [5]:
denver.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,2021224206,2021224206220200,2202,0,burglary-residence-by-force,burglary,2021-04-18 22:30:00,4/19/2021 5:00:00 AM,4/21/2021 3:25:00 PM,300 W 11TH AVE,3142828.0,1692472.0,-104.992161,39.733543,6.0,611.0,civic-center,1,0
1,2021225308,2021225308240400,2404,0,theft-of-motor-vehicle,auto-theft,2021-04-21 23:25:00,NaN,4/22/2021 12:01:00 AM,5700 BLK W DARTMOUTH AVE,3124936.0,1664570.0,-105.056261,39.657203,4.0,423.0,bear-valley,1,0
2,20216009452,20216009452239900,2399,0,theft-other,larceny,2021-03-22 12:51:00,3/22/2021 12:51:00 PM,4/21/2021 10:13:00 PM,3412 N HUMBOLDT ST,3149191.0,1703917.0,-104.969299,39.764862,2.0,211.0,cole,1,0
3,20216009439,20216009439230500,2305,0,theft-items-from-vehicle,theft-from-motor-vehicle,2021-04-21 12:00:00,4/21/2021 12:05:00 PM,4/21/2021 1:17:00 PM,1900 BLK S CLARKSON ST,3146781.0,1673727.0,-104.978488,39.682023,3.0,313.0,platt-park,1,0
4,20218017976,20218017976240400,2404,0,theft-of-motor-vehicle,auto-theft,2021-03-09 12:01:00,4/21/2021 12:20:00 PM,4/21/2021 12:20:00 PM,24050 E 78TH AVE,3223419.0,1730557.0,-104.704438,39.836504,7.0,759.0,dia,1,0

In [7]:
denver.count()

incident_id               501641
offense_id                501641
offense_code              501641
offense_code_extension    501641
offense_type_id           501641
offense_category_id       501641
first_occurrence_date     501641
last_occurrence_date      174707
reported_date             501641
incident_address          458661
geo_x                     497348
geo_y                     497348
geo_lon                   497347
geo_lat                   497347
district_id               501640
precinct_id               501640
neighborhood_id           501640
is_crime                  501641
is_traffic                501641
dtype: int64

In [6]:
denver.columns = denver.columns.str.lower().str.replace(" ", "_")

In [8]:
denver = denver.rename(columns={'incident_id': 'city', 'offense_type_id': 'crime_category', 'first_occurrence_date': 'date'})

In [13]:
denver['city'] = 'Denver'

In [15]:
denver = denver.loc[:, ['city', 'date', 'crime_category']]

In [17]:
denver = denver[denver.date >= '2020-10-08']

In [18]:
denver.to_csv('../Data_Clean/Denver.csv')

          city                date               crime_category
0       Denver 2021-04-18 22:30:00  burglary-residence-by-force
1       Denver 2021-04-21 23:25:00       theft-of-motor-vehicle
2       Denver 2021-03-22 12:51:00                  theft-other
3       Denver 2021-04-21 12:00:00     theft-items-from-vehicle
4       Denver 2021-03-09 12:01:00       theft-of-motor-vehicle
...        ...                 ...                          ...
501636  Denver 2021-07-04 01:30:00     drug-methampetamine-sell
501637  Denver 2021-07-06 09:30:00             traffic-accident
501638  Denver 2021-07-07 23:09:00            threats-to-injure
501639  Denver 2021-07-07 06:00:00                arson-vehicle
501640  Denver 2021-07-08 00:19:00         criminal-trespassing

[70019 rows x 3 columns]