# Austin, TX

In [25]:
 import pandas as pd

In [36]:
austin = pd.read_csv("../Austin_Data/Crime_Reports.csv", parse_dates=['Report Date'])
#retrieved 7/10/21
#throws warning re: column 16; not even sure if we need column 16 (PRA)

C:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [37]:
#personal preference
#making column names all lower case
austin.columns = austin.columns.str.lower().str.replace(' ', '_')

In [38]:
austin.head()

,incident_number,highest_offense_description,highest_offense_code,family_violence,occurred_date_time,occurred_date,occurred_time,report_date_time,report_date,report_time,...,census_tract,clearance_status,clearance_date,ucr_category,category_description,x-coordinate,y-coordinate,latitude,longitude,location
0,20191571574,FRAUD - OTHER,1199,N,06/03/2019 04:00:00 PM,06/03/2019,1600.0,06/06/2019 05:34:00 PM,2019-06-06,1734.0,...,203.11,NaN,NaN,NaN,NaN,3097785.0,3097785.0,30.483646,-97.789495,"(30.48364631, -97.7894953)"
1,20191550153,DEADLY CONDUCT,408,N,06/04/2019 03:12:00 AM,06/04/2019,312.0,06/04/2019 03:16:00 AM,2019-06-04,316.0,...,18.06,N,06/06/2019,13A,Aggravated Assault,3128227.0,3128227.0,30.346646,-97.696573,"(30.34664576, -97.69657342)"
2,20195022816,THEFT OF LICENSE PLATE,614,N,06/03/2019 03:00:00 PM,06/03/2019,1500.0,06/04/2019 03:22:00 PM,2019-06-04,1522.0,...,24.09,N,06/04/2019,23G,Theft,3098393.0,3098393.0,30.205267,-97.794900,"(30.20526729, -97.79490043)"
3,20205007833,RUNAWAY CHILD,4100,N,02/22/2020 06:00:00 PM,02/22/2020,1800.0,02/24/2020 06:03:00 PM,2020-02-24,1803.0,...,NaN,N,03/03/2020,NaN,NaN,3155456.0,3155456.0,30.176140,-97.615031,"(30.17613952, -97.6150307)"
4,20191671388,BURGLARY OF RESIDENCE,500,N,06/14/2019 12:00:00 PM,06/14/2019,1200.0,06/16/2019 10:00:00 PM,2019-06-16,2200.0,...,17.51,N,09/18/2019,220,Burglary,3111039.0,3111039.0,30.364987,-97.750587,"(30.36498691, -97.75058749)"

In [39]:
austin.columns

Index(['incident_number', 'highest_offense_description',
       'highest_offense_code', 'family_violence', 'occurred_date_time',
       'occurred_date', 'occurred_time', 'report_date_time', 'report_date',
       'report_time', 'location_type', 'address', 'zip_code',
       'council_district', 'apd_sector', 'apd_district', 'pra', 'census_tract',
       'clearance_status', 'clearance_date', 'ucr_category',
       'category_description', 'x-coordinate', 'y-coordinate', 'latitude',
       'longitude', 'location'],
      dtype='object')

In [40]:
austin = austin.rename(columns={'highest_offense_description': 'crime_category', 'report_date': 'date', 'incident_number': 'city'})

In [41]:
#data in sql is up to 6/29/20
austin = austin[austin.date >= '2020-09-26']
austin.reset_index(drop=True, inplace=True)

In [45]:
austin

,city,crime_category,highest_offense_code,family_violence,occurred_date_time,occurred_date,occurred_time,report_date_time,date,report_time,...,census_tract,clearance_status,clearance_date,ucr_category,category_description,x-coordinate,y-coordinate,latitude,longitude,location
0,20203061289,SEXUAL ASSAULT W/ OBJECT,1700,N,10/30/2020 11:00:00 PM,10/30/2020,2300.0,11/01/2020 03:52:00 PM,2020-11-01,1552.0,...,NaN,N,11/02/2020,11C,Rape,0.0,0.0,NaN,NaN,NaN
1,20205043491,IDENTITY THEFT,4022,N,10/27/2020 11:16:00 PM,10/27/2020,2316.0,10/27/2020 11:16:00 PM,2020-10-27,2316.0,...,NaN,N,11/04/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20205044863,PROTECTIVE ORDER,3829,N,11/05/2020 11:19:00 AM,11/05/2020,1119.0,11/05/2020 11:19:00 AM,2020-11-05,1119.0,...,NaN,N,11/05/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20202910633,ASSAULT W/INJURY-FAM/DATE VIOL,900,Y,10/16/2020 07:00:00 PM,10/16/2020,1900.0,10/17/2020 12:55:00 PM,2020-10-17,1255.0,...,NaN,N,11/03/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20215015781,IDENTITY THEFT,4022,N,04/01/2021 12:00:00 PM,04/01/2021,1200.0,04/21/2021 02:40:00 PM,2021-04-21,1440.0,...,23.18,N,05/10/2021,NaN,NaN,3126219.0,3126219.0,30.228632,-97.706155,"(30.22863192, -97.70615517)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75136,20205043458,CHILD CUSTODY INTERFERE,2001,N,10/27/2020 06:00:00 PM,10/27/2020,1800.0,10/28/2020 08:41:00 AM,2020-10-28,841.0,...,17.47,N,10/28/2020,NaN,NaN,3090884.0,3090884.0,30.178575,-97.819372,"(30.17857459, -97.81937171)"
75137,2021800824,STALKING,2710,Y,03/21/2021 01:45:00 PM,03/21/2021,1345.0,03/21/2021 01:45:00 PM,2021-03-21,1345.0,...,18.21,N,03/24/2021,NaN,NaN,3123783.0,3123783.0,30.380490,-97.709745,"(30.38048968, -97.70974544)"
75138,2021321265,TERRORISTIC THREAT-FAM/DAT VIO,2704,Y,02/01/2021 07:51:00 PM,02/01/2021,1951.0,02/01/2021 07:51:00 PM,2021-02-01,1951.0,...,24.11,N,02/03/2021,NaN,NaN,3110997.0,3110997.0,30.199193,-97.755153,"(30.19919257, -97.75515272)"
75139,20205049760,THEFT CATALYTIC CONVERTER,620,N,12/04/2020 08:00:00 PM,12/04/2020,2000.0,12/07/2020 08:49:00 AM,2020-12-07,849.0,...,NaN,N,12/11/2020,23G,Theft,3121299.0,3121299.0,30.285848,-97.720190,"(30.28584847, -97.72018995)"
75140,20205045960,FRAUD - OTHER,1199,N,11/11/2020 01:00:00 PM,11/11/2020,1300.0,11/11/2020 05:35:00 PM,2020-11-11,1735.0,...,17.47,N,11/13/2020,NaN,NaN,3090159.0,3090159.0,30.178147,-97.821678,"(30.17814681, -97.82167785)"

In [46]:
austin = austin.loc[:, ['city', 'date', 'crime_category']]

In [50]:
austin['city'] = 'Austin'

In [51]:
austin

         city       date                  crime_category
0      Austin 2020-11-01        SEXUAL ASSAULT W/ OBJECT
1      Austin 2020-10-27                  IDENTITY THEFT
2      Austin 2020-11-05                PROTECTIVE ORDER
3      Austin 2020-10-17  ASSAULT W/INJURY-FAM/DATE VIOL
4      Austin 2021-04-21                  IDENTITY THEFT
...       ...        ...                             ...
75136  Austin 2020-10-28         CHILD CUSTODY INTERFERE
75137  Austin 2021-03-21                        STALKING
75138  Austin 2021-02-01  TERRORISTIC THREAT-FAM/DAT VIO
75139  Austin 2020-12-07       THEFT CATALYTIC CONVERTER
75140  Austin 2020-11-11                   FRAUD - OTHER

[75141 rows x 3 columns]

In [ ]:
min(austin['occurred_date_time'])
max(austin['occurred_date_time'])
min(austin['report_date_time'])
max(austin['report_date_time'])

Timestamp('2020-11-05 11:19:00')

In [23]:
austin.shape
austin.head()
#checking that time and crime present in every column
austin.count()

city                    0
crime_category          0
highest_offense_code    0
family_violence         0
occurred_date_time      0
date                    0
occurred_time           0
report_date_time        0
report_date             0
report_time             0
location_type           0
address                 0
zip_code                0
council_district        0
apd_sector              0
apd_district            0
pra                     0
census_tract            0
clearance_status        0
clearance_date          0
ucr_category            0
category_description    0
x-coordinate            0
y-coordinate            0
latitude                0
longitude               0
location                0
dtype: int64

In [ ]:
austin.to_csv("../Data_Clean/Austin.csv")