# Baton Rouge, LA

In [1]:
import pandas as pd

In [1]:
#dont seem to have reported on date

In [25]:
baton_rouge = pd.read_csv("../Baton_Rouge_Data/Baton_Rouge_Crime_Incidents.csv", parse_dates=['OFFENSE DATE']) 
#, dtype = {0 : "string"}, parse_dates= {"occurred" : [1, 2]})
#retrieved on 7/10/21

C:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [26]:
baton_rouge.columns = baton_rouge.columns.str.lower().str.replace(" ", "_")

In [27]:
baton_rouge = baton_rouge.rename(columns={'offense_date': 'date', 'crime': 'crime_category', 'offense_description': 'crime_description'})

In [28]:
baton_rouge['city'] = 'Baton Rouge'

In [29]:
baton_rouge = baton_rouge.loc[:, ['city', 'date', 'crime_category', 'crime_description']]

In [30]:
baton_rouge

               city       date  crime_category          crime_description
0       Baton Rouge 2020-04-11  SEXUAL ASSAULT                BATT/SEXUAL
1       Baton Rouge 2019-10-28        JUVENILE         IND BEHAVIOR W/JUV
2       Baton Rouge 2019-11-05  SEXUAL ASSAULT                BATT/SEXUAL
3       Baton Rouge 2019-11-09  SEXUAL ASSAULT          RAPE/ATT FORCIBLE
4       Baton Rouge 2020-03-14        JUVENILE         IND BEHAVIOR W/JUV
...             ...        ...             ...                        ...
490573  Baton Rouge 2012-05-12           THEFT  THEFT OVER $200 ALL OTHER
490574  Baton Rouge 2018-01-07           OTHER        CHILD RESTRAINT REQ
490575  Baton Rouge 2020-08-30         ASSAULT          ASSAULT/SIMPLE/CC
490576  Baton Rouge 2012-10-04         FIREARM        FELON IN POSS F/ARM
490577  Baton Rouge 2019-01-31           OTHER                SPEEDING/CC

[490578 rows x 4 columns]

In [31]:
baton_rouge

               city       date  crime_category          crime_description
0       Baton Rouge 2020-04-11  SEXUAL ASSAULT                BATT/SEXUAL
1       Baton Rouge 2019-10-28        JUVENILE         IND BEHAVIOR W/JUV
2       Baton Rouge 2019-11-05  SEXUAL ASSAULT                BATT/SEXUAL
3       Baton Rouge 2019-11-09  SEXUAL ASSAULT          RAPE/ATT FORCIBLE
4       Baton Rouge 2020-03-14        JUVENILE         IND BEHAVIOR W/JUV
...             ...        ...             ...                        ...
490573  Baton Rouge 2012-05-12           THEFT  THEFT OVER $200 ALL OTHER
490574  Baton Rouge 2018-01-07           OTHER        CHILD RESTRAINT REQ
490575  Baton Rouge 2020-08-30         ASSAULT          ASSAULT/SIMPLE/CC
490576  Baton Rouge 2012-10-04         FIREARM        FELON IN POSS F/ARM
490577  Baton Rouge 2019-01-31           OTHER                SPEEDING/CC

[490578 rows x 4 columns]

In [35]:
baton_rouge = baton_rouge[baton_rouge.date >= '2020-10-02']

In [36]:
baton_rouge

,city,date,crime_category,crime_description
11,Baton Rouge,2020-11-17,SEXUAL ASSAULT,BATT/SEXUAL
117,Baton Rouge,2020-10-03,SEXUAL ASSAULT,BATT/ORAL SEXUAL
149,Baton Rouge,2020-11-27,JUVENILE,IND BEHAVIOR W/JUV
157,Baton Rouge,2020-11-20,THEFT,ISS WORTHLESS CHECKS
163,Baton Rouge,2020-11-05,JUVENILE,CARNAL KNOW OF JUV
...,...,...,...,...
490472,Baton Rouge,2020-10-14,THEFT,THEFT/MISD/CC
490494,Baton Rouge,2020-10-10,CRIMINAL DAMAGE TO PROPERTY,CRIM DAM TO PROP/SIMPLE
490496,Baton Rouge,2020-12-19,NARCOTICS,POSS MARIJUANA/CC
490545,Baton Rouge,2020-10-18,THEFT,THEFT/MISD/SHOPLIFTING/CC
490569,Baton Rouge,2020-12-20,THEFT,THEFT/MISD/SHOPLIFTING/CC

In [37]:
baton_rouge.to_csv("../Data_Clean/Baton_Rouge.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Data_Clean/Baton_Rouge.csv'