# Boston, MA

In [36]:
import pandas as pd

In [37]:
#doesnt have reported on date

In [38]:
boston_2021 = pd.read_csv("../Boston_Data/tmpp_u7gs36.csv", parse_dates=[7])
#retrieved 7/15/21

C:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [39]:
boston_2021.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,PLTEST003,3114,NaN,INVESTIGATE PROPERTY,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.3336792181085, -71.0918775461846)"
1,PLTEST002,3114,NaN,INVESTIGATE PROPERTY,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.3336792181085, -71.0918775461846)"
2,PLTEST001,3114,NaN,INVESTIGATE PROPERTY,B2,,0,2021-03-29 00:00:00,2021,3,Monday,0,NaN,SCHROEDER PLAZA,0.000000,0.000000,"(0, 0)"
3,312030979,3201,NaN,PROPERTY - LOST/ MISSING,E13,465,0,2021-03-22 00:00:00,2021,3,Monday,0,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.2848257658049, -71.091373689388)"
4,212996778,3301,NaN,VERBAL DISPUTE,C6,204,0,2021-02-01 06:20:00,2021,2,Monday,6,NaN,GILLETTE PARK,42.344125,-71.056853,"(42.3441248392933, -71.0568533916328)"

In [40]:
boston_2021.shape

(36096, 17)

In [41]:
boston_2021.columns = boston_2021.columns.str.lower()

In [42]:
#incident_number = PLTEST... dont look like real crimes, might want to drop

In [43]:
min(boston_2021['occurred_on_date'])

Timestamp('2021-01-01 00:00:00')

In [44]:
max(boston_2021['occurred_on_date'])

Timestamp('2021-07-14 00:19:00')

In [45]:
boston_2021.count()

incident_number        36096
offense_code           36096
offense_code_group         0
offense_description    36096
district               35204
reporting_area         36096
shooting               36096
occurred_on_date       36096
year                   36096
month                  36096
day_of_week            36096
hour                   36096
ucr_part                   0
street                 35417
lat                    36096
long                   36096
location               36096
dtype: int64

In [46]:
#drop empty columns
boston_2021.dropna(how="all", axis=1, inplace=True)

In [47]:
boston_2020 = pd.read_csv(
    "../Boston_Data/script_113631134_20210423193017_combine.csv", dtype={0: "string"}, parse_dates=[7])
#retrieved 7/15/2021

In [48]:
boston_2020.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,854652314,3115,NaN,INVESTIGATE PERSON,B2,289,0,2020-02-20 00:00:00,2020,2,Thursday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.3336792181085, -71.0918775461846)"
1,457856954,3115,NaN,INVESTIGATE PERSON,B2,289,0,2020-02-21 01:42:00,2020,2,Friday,1,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.3336792181085, -71.0918775461846)"
2,302030654,1106,NaN,FRAUD - CREDIT CARD / ATM FRAUD,D4,167,0,2020-04-24 13:00:00,2020,4,Friday,13,NaN,MASSACHUSETTS AVE,42.339542,-71.069409,"(42.3395419898301, -71.0694087696754)"
3,212025777,1108,NaN,FRAUD - WELFARE,A7,28,0,2020-05-01 00:00:00,2020,5,Friday,0,NaN,TRENTON ST,42.370818,-71.039291,"(42.3708180467024, -71.0392907813515)"
4,212025557,2670,NaN,HARASSMENT/ CRIMINAL HARASSMENT,A1,77,0,2020-09-07 00:00:00,2020,9,Monday,0,NaN,PRINCE ST,42.361839,-71.059765,"(42.3618385665647, -71.0597648909416)"

In [49]:
boston_2020.shape

(70894, 17)

In [50]:
boston_2020.dtypes

INCIDENT_NUMBER                string
OFFENSE_CODE                    int64
OFFENSE_CODE_GROUP            float64
OFFENSE_DESCRIPTION            object
DISTRICT                       object
REPORTING_AREA                 object
SHOOTING                        int64
OCCURRED_ON_DATE       datetime64[ns]
YEAR                            int64
MONTH                           int64
DAY_OF_WEEK                    object
HOUR                            int64
UCR_PART                      float64
STREET                         object
Lat                           float64
Long                          float64
Location                       object
dtype: object

In [51]:
boston_2020.columns = boston_2020.columns.str.lower()

In [52]:
min(boston_2020['occurred_on_date'])

Timestamp('2020-01-01 00:00:00')

In [53]:
max(boston_2020['occurred_on_date'])

Timestamp('2020-12-31 23:55:00')

In [54]:
boston_2020.count()

incident_number        70894
offense_code           70894
offense_code_group         0
offense_description    70894
district               70616
reporting_area         70894
shooting               70894
occurred_on_date       70894
year                   70894
month                  70894
day_of_week            70894
hour                   70894
ucr_part                   0
street                 70893
lat                    70894
long                   70894
location               70894
dtype: int64

In [55]:
boston_2020.dropna(how="all", axis=1, inplace=True)
#drop any empty columns/rows that are completely empty
#axis="columns"

In [56]:
#check both dfs have same columns
diff = boston_2021.columns.difference(boston_2020.columns)
diff

Index([], dtype='object')

In [57]:
#combine dfs
start = boston_2020.shape[0]
stop = boston_2020.shape[0] + boston_2021.shape[0]
boston_2021.index = range(start, stop)
boston_list = [boston_2020, boston_2021]
boston = pd.concat(boston_list)
boston.shape

(106990, 15)

In [58]:
boston = boston.rename(columns={'offense_description': 'crime_category', 'occurred_on_date': 'date', 'incident_number': 'city'})

In [59]:
boston['city'] = 'Boston'

In [60]:
boston = boston.loc[:, ['city', 'date', 'crime_category']]

In [62]:
boston = boston[boston.date >= '2020-10-03']

In [65]:
boston['date'] = pd.to_datetime(boston['date']).dt.date

In [66]:
boston

          city        date                                     crime_category
5       Boston  2020-11-12                                    FRAUD - WELFARE
6       Boston  2020-11-16                                    FRAUD - WELFARE
8       Boston  2020-11-06                                  M/V PLATES - LOST
9       Boston  2020-12-25                           LARCENY THEFT OF BICYCLE
10      Boston  2020-10-07                               INVESTIGATE PROPERTY
...        ...         ...                                                ...
106985  Boston  2021-03-13              M/V - LEAVING SCENE - PROPERTY DAMAGE
106986  Boston  2021-01-19                    FRAUD - FALSE PRETENSE / SCHEME
106987  Boston  2021-01-04                        NOISY PARTY/RADIO-NO ARREST
106988  Boston  2021-04-02                      SICK/INJURED/MEDICAL - PERSON
106989  Boston  2021-01-26  WARRANT ARREST - BOSTON WARRANT (MUST BE SUPPL...

[53764 rows x 3 columns]

In [63]:
boston.to_csv("../Data_Clean/Boston.csv")