# Philadelphia, PA

In [ ]:
#latest date for 2020 is 10/8
#2021 not in DB

https://www.opendataphilly.org/dataset/crime-incidents

In [ ]:
import pandas as pd

phil_2021 = pd.read_csv("../Philadelphia_Data/Philadelphia_2021_data.csv",
chunksize=1000, 
parse_dates=['dispatch_date_time', 'dispatch_date', 'dispatch_time']
).get_chunk()

In [ ]:
#drop empty columns
phil_2021.dropna(how="all", axis=1, inplace=True)

In [ ]:
phil_2021.columns

In [ ]:
phil_2021.head()

In [ ]:
phil_2021.dtypes

In [ ]:
phil_2021 = phil_2021.drop(columns=["dispatch_date_time", "dispatch_time"])

In [ ]:
phil_2021.head()

In [18]:
phil_2021.to_csv('../Philadelphia_Data/Phil_2021.csv')

In [21]:
import pandas as pd

phil_2020 = pd.read_csv("../Philadelphia_Data/Philadelphia_2020_data.csv",
chunksize=1000,
parse_dates=['dispatch_date_time',
'dispatch_date', 'dispatch_time']
).get_chunk()

In [22]:
#drop empty columns
phil_2020.dropna(how="all", axis=1, inplace=True)

In [23]:
phil_2020 = phil_2020.drop(columns=["dispatch_date_time", "dispatch_time"])

In [24]:
phil_2020.head()

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date,hour_,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E6100000CE175A2155CA52C0779E57C02DFB...,47,0101000020110F00009EBBEA78D5EA5FC11055888E8D8A...,22,9,2,2020-03-25,18,202009012094,1400 BLOCK SPRING GARDEN ST,600,Theft from Vehicle,-75.161446,39.962334,39.962334,-75.161446
1,0101000020E61000007B6EFCE4C3CE52C0F4EC660423F1...,91,0101000020110F00002A2FC7FB5CF25FC12A107CA16E7F...,66,77,A,2020-03-08,19,202077001196,0 BLOCK PIA WAY,600,Thefts,-75.230706,39.883881,39.883881,-75.230706
2,0101000020E61000007B6EFCE4C3CE52C0F4EC660423F1...,92,0101000020110F00002A2FC7FB5CF25FC12A107CA16E7F...,67,77,A,2020-03-15,18,202077001312,0 BLOCK PIA WAY,600,Thefts,-75.230706,39.883881,39.883881,-75.230706
3,0101000020E61000007B6EFCE4C3CE52C0F4EC660423F1...,93,0101000020110F00002A2FC7FB5CF25FC12A107CA16E7F...,68,77,A,2020-03-18,8,202077001343,0 BLOCK PIA WAY,600,Thefts,-75.230706,39.883881,39.883881,-75.230706
4,0101000020E61000007B6EFCE4C3CE52C0F4EC660423F1...,94,0101000020110F00002A2FC7FB5CF25FC12A107CA16E7F...,69,77,A,2020-04-03,15,202077001460,0 BLOCK PIA WAY,600,Thefts,-75.230706,39.883881,39.883881,-75.230706

In [26]:
#getting dates not in DB currently
phil_2020 = phil_2020[phil_2020['dispatch_date'] >= '2020-10-08']

In [27]:
phil_2020.to_csv('../Philadelphia_Data/Phil_2020.csv')

In [30]:
#combine dfs
#correct index first
start = phil_2020.shape[0]
stop = phil_2020.shape[0] + phil_2021.shape[0]
phil_2021.index = range(start, stop)
phil_list = [phil_2020, phil_2021]
phil = pd.concat(phil_list)

In [ ]:
phil.to_csv("../Data_Clean/Philadelphia.csv")