# Philadelphia, PA

In [1]:
#latest date for 2020 is 10/8
#2021 not in DB

https://www.opendataphilly.org/dataset/crime-incidents

In [2]:
import pandas as pd

phil_2021 = pd.read_csv("../Philadelphia_Data/Philadelphia_2021_data.csv", 
parse_dates=['dispatch_date_time', 'dispatch_date', 'dispatch_time']
)

In [3]:
#drop empty columns
phil_2021.dropna(how="all", axis=1, inplace=True)

In [4]:
phil_2021.columns

Index(['the_geom', 'cartodb_id', 'the_geom_webmercator', 'objectid', 'dc_dist',
       'psa', 'dispatch_date_time', 'dispatch_date', 'dispatch_time', 'hour_',
       'dc_key', 'location_block', 'ucr_general', 'text_general_code',
       'point_x', 'point_y', 'lat', 'lng'],
      dtype='object')

In [5]:
phil_2021.head()

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour_,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E6100000ECBC5322C5CE52C03D31678D2CF1...,2640566,0101000020110F00003952D0165FF25FC17988322F797F...,5084575,12,1,2021-03-19 10:41:04,2021-03-19,2021-08-20 10:41:04,10.0,202112018994,4500 BLOCK ISLAND AV,600,Thefts,-75.230782,39.884172,39.884172,-75.230782
1,0101000020E61000007A37B3E9CAC652C05C69211AC003...,2640573,0101000020110F00003952C02BD2E45FC128F33D3F0E94...,4627971,15,1,2021-02-25 16:44:00,2021-02-25,2021-08-20 16:44:00,16.0,202115013539,E ROOSEVELT BLVD / WHITAKER AV,700,Motor Vehicle Theft,-75.106135,40.029300,40.029300,-75.106135
2,0101000020E6100000C9F4955136C752C0DCD4A31DF5FE...,2640955,0101000020110F000060AD479C88E55FC1780A94B2BD8E...,5221029,24,2,2021-03-25 22:33:54,2021-03-25,2021-08-20 22:33:54,22.0,202124019454,3100 BLOCK FRANKFORD AV,1500,Weapon Violations,-75.112690,39.991855,39.991855,-75.112690
3,0101000020E6100000684F76F106C952C0CA7097587406...,2640957,0101000020110F00004A556CD29DE85FC12E37B02C0E97...,3500576,35,1,2021-01-02 18:57:00,2021-01-02,2021-08-20 18:57:00,18.0,202135000451,N PARK AV / CHELTEN AV,700,Motor Vehicle Theft,-75.141049,40.050426,40.050426,-75.141049
4,0101000020E6100000A21CD49748CF52C0223A3E398EFB...,2641121,0101000020110F00003528AC623EF35FC163C50F75F88A...,4993349,19,2,2021-03-16 00:07:48,2021-03-16,2021-08-20 00:07:48,0.0,202119014625,5900 BLOCK SPRING ST,1400,Vandalism/Criminal Mischief,NaN,NaN,39.965278,-75.238806

In [6]:
phil_2021.dtypes

the_geom                        object
cartodb_id                       int64
the_geom_webmercator            object
objectid                         int64
dc_dist                          int64
psa                             object
dispatch_date_time      datetime64[ns]
dispatch_date           datetime64[ns]
dispatch_time           datetime64[ns]
hour_                          float64
dc_key                           int64
location_block                  object
ucr_general                      int64
text_general_code               object
point_x                        float64
point_y                        float64
lat                            float64
lng                            float64
dtype: object

In [7]:
phil_2021 = phil_2021.drop(columns=["dispatch_date_time", "dispatch_time"])

In [8]:
phil_2021.head()

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date,hour_,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E6100000ECBC5322C5CE52C03D31678D2CF1...,2640566,0101000020110F00003952D0165FF25FC17988322F797F...,5084575,12,1,2021-03-19,10.0,202112018994,4500 BLOCK ISLAND AV,600,Thefts,-75.230782,39.884172,39.884172,-75.230782
1,0101000020E61000007A37B3E9CAC652C05C69211AC003...,2640573,0101000020110F00003952C02BD2E45FC128F33D3F0E94...,4627971,15,1,2021-02-25,16.0,202115013539,E ROOSEVELT BLVD / WHITAKER AV,700,Motor Vehicle Theft,-75.106135,40.029300,40.029300,-75.106135
2,0101000020E6100000C9F4955136C752C0DCD4A31DF5FE...,2640955,0101000020110F000060AD479C88E55FC1780A94B2BD8E...,5221029,24,2,2021-03-25,22.0,202124019454,3100 BLOCK FRANKFORD AV,1500,Weapon Violations,-75.112690,39.991855,39.991855,-75.112690
3,0101000020E6100000684F76F106C952C0CA7097587406...,2640957,0101000020110F00004A556CD29DE85FC12E37B02C0E97...,3500576,35,1,2021-01-02,18.0,202135000451,N PARK AV / CHELTEN AV,700,Motor Vehicle Theft,-75.141049,40.050426,40.050426,-75.141049
4,0101000020E6100000A21CD49748CF52C0223A3E398EFB...,2641121,0101000020110F00003528AC623EF35FC163C50F75F88A...,4993349,19,2,2021-03-16,0.0,202119014625,5900 BLOCK SPRING ST,1400,Vandalism/Criminal Mischief,NaN,NaN,39.965278,-75.238806

In [9]:
phil_2021.to_csv('../Philadelphia_Data/Phil_2021.csv')

In [10]:
import pandas as pd

phil_2020 = pd.read_csv("../Philadelphia_Data/Philadelphia_2020_data.csv",
chunksize=1000,
parse_dates=['dispatch_date_time',
'dispatch_date', 'dispatch_time']
).get_chunk()

In [11]:
#drop empty columns
phil_2020.dropna(how="all", axis=1, inplace=True)

In [12]:
phil_2020 = phil_2020.drop(columns=["dispatch_date_time", "dispatch_time"])

In [13]:
phil_2020.head()

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date,hour_,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E6100000CE175A2155CA52C0779E57C02DFB...,47,0101000020110F00009EBBEA78D5EA5FC11055888E8D8A...,22,9,2,2020-03-25,18,202009012094,1400 BLOCK SPRING GARDEN ST,600,Theft from Vehicle,-75.161446,39.962334,39.962334,-75.161446
1,0101000020E61000007B6EFCE4C3CE52C0F4EC660423F1...,91,0101000020110F00002A2FC7FB5CF25FC12A107CA16E7F...,66,77,A,2020-03-08,19,202077001196,0 BLOCK PIA WAY,600,Thefts,-75.230706,39.883881,39.883881,-75.230706
2,0101000020E61000007B6EFCE4C3CE52C0F4EC660423F1...,92,0101000020110F00002A2FC7FB5CF25FC12A107CA16E7F...,67,77,A,2020-03-15,18,202077001312,0 BLOCK PIA WAY,600,Thefts,-75.230706,39.883881,39.883881,-75.230706
3,0101000020E61000007B6EFCE4C3CE52C0F4EC660423F1...,93,0101000020110F00002A2FC7FB5CF25FC12A107CA16E7F...,68,77,A,2020-03-18,8,202077001343,0 BLOCK PIA WAY,600,Thefts,-75.230706,39.883881,39.883881,-75.230706
4,0101000020E61000007B6EFCE4C3CE52C0F4EC660423F1...,94,0101000020110F00002A2FC7FB5CF25FC12A107CA16E7F...,69,77,A,2020-04-03,15,202077001460,0 BLOCK PIA WAY,600,Thefts,-75.230706,39.883881,39.883881,-75.230706

In [14]:
#getting dates not in DB currently
phil_2020 = phil_2020[phil_2020['dispatch_date'] >= '2020-10-08']

In [15]:
phil_2020.to_csv('../Philadelphia_Data/Phil_2020.csv')

In [16]:
#combine dfs
#correct index first
start = phil_2020.shape[0]
stop = phil_2020.shape[0] + phil_2021.shape[0]
phil_2021.index = range(start, stop)
phil_list = [phil_2020, phil_2021]
phil = pd.concat(phil_list)

In [20]:
phil.head()

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date,hour_,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E6100000ECBC5322C5CE52C03D31678D2CF1...,2640566,0101000020110F00003952D0165FF25FC17988322F797F...,5084575,12,1,2021-03-19,10.0,202112018994,4500 BLOCK ISLAND AV,600,Thefts,-75.230782,39.884172,39.884172,-75.230782
1,0101000020E61000007A37B3E9CAC652C05C69211AC003...,2640573,0101000020110F00003952C02BD2E45FC128F33D3F0E94...,4627971,15,1,2021-02-25,16.0,202115013539,E ROOSEVELT BLVD / WHITAKER AV,700,Motor Vehicle Theft,-75.106135,40.029300,40.029300,-75.106135
2,0101000020E6100000C9F4955136C752C0DCD4A31DF5FE...,2640955,0101000020110F000060AD479C88E55FC1780A94B2BD8E...,5221029,24,2,2021-03-25,22.0,202124019454,3100 BLOCK FRANKFORD AV,1500,Weapon Violations,-75.112690,39.991855,39.991855,-75.112690
3,0101000020E6100000684F76F106C952C0CA7097587406...,2640957,0101000020110F00004A556CD29DE85FC12E37B02C0E97...,3500576,35,1,2021-01-02,18.0,202135000451,N PARK AV / CHELTEN AV,700,Motor Vehicle Theft,-75.141049,40.050426,40.050426,-75.141049
4,0101000020E6100000A21CD49748CF52C0223A3E398EFB...,2641121,0101000020110F00003528AC623EF35FC163C50F75F88A...,4993349,19,2,2021-03-16,0.0,202119014625,5900 BLOCK SPRING ST,1400,Vandalism/Criminal Mischief,NaN,NaN,39.965278,-75.238806

In [22]:
phil = phil.rename(columns={'the_geom': 'city', 'text_general_code': 'crime_category', 'dispatch_date': 'date'})

In [23]:
phil['city'] = 'Philadelphia'

In [24]:
phil = phil.loc[:, ['city', 'date', 'crime_category']]

In [25]:
phil = phil[phil.date >= '2020-10-08']

In [26]:
phil

               city       date               crime_category
0      Philadelphia 2021-03-19                       Thefts
1      Philadelphia 2021-02-25          Motor Vehicle Theft
2      Philadelphia 2021-03-25            Weapon Violations
3      Philadelphia 2021-01-02          Motor Vehicle Theft
4      Philadelphia 2021-03-16  Vandalism/Criminal Mischief
...             ...        ...                          ...
74233  Philadelphia 2021-07-18          Motor Vehicle Theft
74234  Philadelphia 2021-07-19          Motor Vehicle Theft
74235  Philadelphia 2021-07-18          Motor Vehicle Theft
74236  Philadelphia 2021-07-18          Motor Vehicle Theft
74237  Philadelphia 2021-02-05         Homicide - Criminal

[74238 rows x 3 columns]

In [17]:
phil.to_csv("../Data_Clean/Philadelphia.csv")