In [1]:
import pandas as pd
import numpy as np

In [2]:
#to do:
#standardize col names?
#check for duplicates between this data and whats already in SQL

In [3]:
#following few cell all copied from SQL Server for easier access

In [4]:
cities_copied = '''Atlanta
Austin
Baton Rouge
Boston
Chicago
Cincinnati
Dallas
Denver
Fort Worth
Gainesville
Los Angeles
Nashville
New York City
Philadelphia
San Francisco
Seattle'''

In [5]:
urls_copied = '''https://www.atlantapd.org/i-want-to/crime-data-downloads
https://data.austintexas.gov/Public-Safety/Crime-Reports/fdj4-gpfu
https://data.brla.gov/Public-Safety/Baton-Rouge-Crime-Incidents/fabb-cnnu
https://data.boston.gov/dataset/crime-incident-reports-august-2015-to-date-source-new-system/resource/12cb3883-56f5-47de-afa5-3b1cf61b257b
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2
https://data.cincinnati-oh.gov/Safety/PDI-Police-Data-Initiative-Crime-Incidents/k59e-2pvf
https://www.dallasopendata.com/Public-Safety/Police-Incidents/qv6i-rri7/data
https://www.denvergov.org/opendata/dataset/city-and-county-of-denver-crime
https://data.fortworthtexas.gov/Public-Safety/Crime-Data/k6ic-7kp7
https://data.cityofgainesville.org/Public-Safety/Crime-Responses/gvua-xt9q
https://data.lacity.org/A-Safe-City/Crime-Data-from-2020-to-Present/2nrs-mtv8
https://data.nashville.gov/Police/Metro-Nashville-Police-Department-Incidents/2u6v-ujjs
https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Current-Year-To-Date-/5uac-w243
https://www.opendataphilly.org/dataset/crime-incidents/resource/c57a9de2-e300-468a-9a20-3e64e5b9b2da
https://data.sfgov.org/Public-Safety/Police-Department-Incident-Reports-2018-to-Present/wg3w-h783
https://data.seattle.gov/Public-Safety/SPD-Crime-Data-2008-Present/tazs-3rd5'''

In [6]:
cities = str.split(cities_copied, '\n')
urls = str.split(urls_copied, '\n')
sources = pd.DataFrame({'City' : cities, 'URL' :urls})

In [7]:
#Data found here:
for i in sources['URL']:
    print(i)

https://www.atlantapd.org/i-want-to/crime-data-downloads
https://data.austintexas.gov/Public-Safety/Crime-Reports/fdj4-gpfu
https://data.brla.gov/Public-Safety/Baton-Rouge-Crime-Incidents/fabb-cnnu
https://data.boston.gov/dataset/crime-incident-reports-august-2015-to-date-source-new-system/resource/12cb3883-56f5-47de-afa5-3b1cf61b257b
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2
https://data.cincinnati-oh.gov/Safety/PDI-Police-Data-Initiative-Crime-Incidents/k59e-2pvf
https://www.dallasopendata.com/Public-Safety/Police-Incidents/qv6i-rri7/data
https://www.denvergov.org/opendata/dataset/city-and-county-of-denver-crime
https://data.fortworthtexas.gov/Public-Safety/Crime-Data/k6ic-7kp7
https://data.cityofgainesville.org/Public-Safety/Crime-Responses/gvua-xt9q
https://data.lacity.org/A-Safe-City/Crime-Data-from-2020-to-Present/2nrs-mtv8
https://data.nashville.gov/Police/Metro-Nashville-Police-Department-Incidents/2u6v-ujjs
https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Current-Year-To-Date-/5uac-w243
https://www.opendataphilly.org/dataset/crime-incidents/resource/c57a9de2-e300-468a-9a20-3e64e5b9b2da
https://data.sfgov.org/Public-Safety/Police-Department-Incident-Reports-2018-to-Present/wg3w-h783
https://data.seattle.gov/Public-Safety/SPD-Crime-Data-2008-Present/tazs-3rd5

In [8]:
#Note: all cleaned data is included so the following code does not need to be run again to create the files
#Austin, Chicago, and NYC are particularly slow

# Atlanta, GA

In [9]:
#Reported between 09/30/2020 - 07/01/2021

In [10]:
atlanta_2021 = pd.read_csv("Atlanta_Data/COBRA-2021.csv", dtype = {0: 'string'}, parse_dates = {'occurred': [2, 3]})
#retrieved 7/7/21

In [11]:
atlanta_2021.shape

(10207, 13)

In [12]:
atlanta_2021.dtypes

occurred         object
offense_id       string
rpt_date         object
poss_date        object
poss_time        object
beat             object
location         object
ibr_code         object
UC2_Literal      object
neighborhood     object
npu              object
lat             float64
long            float64
dtype: object

In [13]:
atlanta_2021.head()

,occurred,offense_id,rpt_date,poss_date,poss_time,beat,location,ibr_code,UC2_Literal,neighborhood,npu,lat,long
0,5/19/2021 15:20,021140096,5/20/2021,5/19/2021,15:25,103,1720 MARIETTA BLVD NW,23F,LARCENY-FROM VEHICLE,Hills Park,D,33.801687,-84.436444
1,1/31/2021 00:00,021320347,2/1/2021,2/1/2021,06:53,509,229 COURTLAND ST NE,23F,LARCENY-FROM VEHICLE,Downtown,M,33.760759,-84.383773
2,6/27/2021 21:17,021791668,6/28/2021,6/28/2021,20:00,102,870 MAYSON TURNER RD NW,23H,LARCENY-NON VEHICLE,Vine City,L,33.755610,-84.416100
3,2/11/2021 19:15,061583880,2/11/2021,2/11/2021,20:29,401,850 OAK ST SW,23F,LARCENY-FROM VEHICLE,West End,T,33.740594,-84.415800
4,6/13/2021 13:00,200017887,6/15/2021,6/13/2020,13:30,603,595 PIEDMONT AVE NE,23C,LARCENY-NON VEHICLE,Old Fourth Ward,M,33.770544,-84.381146

In [14]:
#drop anything without occurred date and made it of type datetime
atlanta_2021 = atlanta_2021[~atlanta_2021['occurred'].str.contains('nan')]
atlanta_2021['occurred'] = pd.to_datetime(atlanta_2021['occurred'])

In [15]:
atlanta_2021.count()

occurred        10204
offense_id      10204
rpt_date        10204
poss_date        9994
poss_time        9994
beat            10204
location        10204
ibr_code        10204
UC2_Literal     10204
neighborhood     9784
npu             10143
lat             10204
long            10204
dtype: int64

In [16]:
min(atlanta_2021.occurred)

Timestamp('1922-02-17 10:32:00')

In [17]:
max(atlanta_2021.occurred)

Timestamp('2021-07-01 05:59:00')

In [18]:
atlanta_2020 = pd.read_csv("Atlanta_Data/COBRA-2020(NEW RMS 9-30 12-31).csv", dtype = {0 : "string"}, parse_dates= {"occurred": [2, 3]})
#retrieved 7/9/21

In [19]:
atlanta_2020.head()

,occurred,offense_id,rpt_date,poss_date,poss_time,beat,apt_office_prefix,apt_office_num,location,MinOfucr,dispo_code,Shift,loc_type,UC2_Literal,ibr_code,neighborhood,npu,long,lat
0,11/29/2020 19:21,203341346,12/31/2020,11/29/2020,23:50,405,NaN,NaN,3050 M.L.K. JR DR SW,NaN,NaN,NaN,NaN,AGG ASSAULT,13A,Harland Terrace,I,-84.486163,33.751060
1,12/28/2020 17:21,203631200,12/31/2020,12/28/2020,17:45,302,NaN,NaN,1186 IRA ST SW,NaN,NaN,NaN,NaN,LARCENY-NON VEHICLE,23H,Pittsburgh,V,-84.399763,33.722696
2,12/24/2020 14:00,203631285,12/31/2020,12/24/2020,18:26,603,NaN,NaN,501 BOULEVARD PL NE,NaN,NaN,NaN,NaN,LARCENY-NON VEHICLE,23H,Old Fourth Ward,M,-84.370736,33.769680
3,12/30/2020 20:15,203651634,12/31/2020,12/30/2020,22:25,211,NaN,NaN,3101 PIEDMONT RD NE,NaN,NaN,NaN,NaN,LARCENY-FROM VEHICLE,23F,Peachtree Park,B,-84.369361,33.840653
4,12/31/2020 1:15,203660108,12/31/2020,12/31/2020,1:15,306,NaN,NaN,1974 SYLVAN RD SW,NaN,NaN,NaN,NaN,AGG ASSAULT,13A,Sylvan Hills,X,-84.418128,33.700432

In [20]:
atlanta_2020.shape

(7249, 19)

In [21]:
atlanta_2020.dtypes

occurred              object
offense_id            string
rpt_date              object
poss_date             object
poss_time             object
beat                  object
apt_office_prefix    float64
apt_office_num       float64
location              object
MinOfucr             float64
dispo_code           float64
Shift                float64
loc_type             float64
UC2_Literal           object
ibr_code              object
neighborhood          object
npu                   object
long                 float64
lat                  float64
dtype: object

In [22]:
atlanta_2020.count()

occurred             7249
offense_id           7249
rpt_date             7249
poss_date            7094
poss_time            7094
beat                 7249
apt_office_prefix       0
apt_office_num          0
location             7249
MinOfucr                0
dispo_code              0
Shift                   0
loc_type                0
UC2_Literal          7249
ibr_code             7249
neighborhood         6972
npu                  7222
long                 7249
lat                  7249
dtype: int64

In [23]:
#drop empty columns
atlanta_2020.dropna(how= "all", axis = 1, inplace = True)

In [24]:
#drop crimes with no date and reset the index
atlanta_2020 = atlanta_2020[~atlanta_2020['occurred'].str.contains('nan')]
atlanta_2020.reset_index(drop = True, inplace= True)

In [25]:
atlanta_2020.count()

occurred        7243
offense_id      7243
rpt_date        7243
poss_date       7093
poss_time       7093
beat            7243
location        7243
UC2_Literal     7243
ibr_code        7243
neighborhood    6966
npu             7216
long            7243
lat             7243
dtype: int64

In [26]:
atlanta_2020['occurred'] = pd.to_datetime(atlanta_2020['occurred'])
#throws error so will find and fix dates that don't fit format

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1010-10-30 17:56:00

In [ ]:
atlanta_2020[~atlanta_2020['occurred'].str.contains('2020')]

In [ ]:
atlanta_2020.loc[3599, 'occurred'] = '2020-10-30 17:56'
atlanta_2020.loc[4745, 'occurred'] = '2020-11-01 23:56'

In [27]:
#change to datetime
atlanta_2020['occurred'] = pd.to_datetime(atlanta_2020['occurred'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1010-10-30 17:56:00

In [ ]:
min(atlanta_2020.occurred)

In [28]:
max(atlanta_2020.occurred)

'9/6/2020 14:41'

In [29]:
#check that both dfs have same columns
diff = atlanta_2020.columns.difference(atlanta_2021.columns)
diff

Index([], dtype='object')

In [30]:
#combine dfs
#correct index first
start = atlanta_2020.shape[0]
stop = atlanta_2020.shape[0] + atlanta_2021.shape[0]
atlanta_2021.index = range(start, stop)
atlanta_list = [atlanta_2020, atlanta_2021]
atlanta = pd.concat(atlanta_list)
atlanta.shape

(17447, 13)

In [31]:
atlanta.count()

occurred        17447
offense_id      17447
rpt_date        17447
poss_date       17087
poss_time       17087
beat            17447
location        17447
UC2_Literal     17447
ibr_code        17447
neighborhood    16750
npu             17359
long            17447
lat             17447
dtype: int64

In [32]:
atlanta['rpt_date'] = pd.to_datetime(atlanta['rpt_date'])

In [33]:
min(atlanta['rpt_date'])

Timestamp('2020-09-30 00:00:00')

In [34]:
max(atlanta['rpt_date'])

Timestamp('2021-07-01 00:00:00')

In [35]:
atlanta.head()

,occurred,offense_id,rpt_date,poss_date,poss_time,beat,location,UC2_Literal,ibr_code,neighborhood,npu,long,lat
0,11/29/2020 19:21,203341346,2020-12-31,11/29/2020,23:50,405,3050 M.L.K. JR DR SW,AGG ASSAULT,13A,Harland Terrace,I,-84.486163,33.751060
1,12/28/2020 17:21,203631200,2020-12-31,12/28/2020,17:45,302,1186 IRA ST SW,LARCENY-NON VEHICLE,23H,Pittsburgh,V,-84.399763,33.722696
2,12/24/2020 14:00,203631285,2020-12-31,12/24/2020,18:26,603,501 BOULEVARD PL NE,LARCENY-NON VEHICLE,23H,Old Fourth Ward,M,-84.370736,33.769680
3,12/30/2020 20:15,203651634,2020-12-31,12/30/2020,22:25,211,3101 PIEDMONT RD NE,LARCENY-FROM VEHICLE,23F,Peachtree Park,B,-84.369361,33.840653
4,12/31/2020 1:15,203660108,2020-12-31,12/31/2020,1:15,306,1974 SYLVAN RD SW,AGG ASSAULT,13A,Sylvan Hills,X,-84.418128,33.700432

In [36]:
atlanta.to_csv("Data_Clean/Atlanta.csv")

# Austin, TX

In [37]:
#Reported between 09/26/20 and 07/03/21

In [38]:
austin = pd.read_csv("Austin_Data/Crime_Reports.csv", dtype = {0: "string"}, parse_dates = [4, 7])
#retrieved 7/10/21
#throws warning re: column 16; not even sure if we need column 16 (PRA)

C:\Users\arezn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [39]:
austin.head()

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,...,Census Tract,Clearance Status,Clearance Date,UCR Category,Category Description,X-coordinate,Y-coordinate,Latitude,Longitude,Location
0,20191571574,FRAUD - OTHER,1199,N,2019-06-03 16:00:00,06/03/2019,1600.0,2019-06-06 17:34:00,06/06/2019,1734.0,...,203.11,NaN,NaN,NaN,NaN,3097785.0,3097785.0,30.483646,-97.789495,"(30.48364631, -97.7894953)"
1,20191550153,DEADLY CONDUCT,408,N,2019-06-04 03:12:00,06/04/2019,312.0,2019-06-04 03:16:00,06/04/2019,316.0,...,18.06,N,06/06/2019,13A,Aggravated Assault,3128227.0,3128227.0,30.346646,-97.696573,"(30.34664576, -97.69657342)"
2,20195022816,THEFT OF LICENSE PLATE,614,N,2019-06-03 15:00:00,06/03/2019,1500.0,2019-06-04 15:22:00,06/04/2019,1522.0,...,24.09,N,06/04/2019,23G,Theft,3098393.0,3098393.0,30.205267,-97.794900,"(30.20526729, -97.79490043)"
3,20205007833,RUNAWAY CHILD,4100,N,2020-02-22 18:00:00,02/22/2020,1800.0,2020-02-24 18:03:00,02/24/2020,1803.0,...,NaN,N,03/03/2020,NaN,NaN,3155456.0,3155456.0,30.176140,-97.615031,"(30.17613952, -97.6150307)"
4,20191671388,BURGLARY OF RESIDENCE,500,N,2019-06-14 12:00:00,06/14/2019,1200.0,2019-06-16 22:00:00,06/16/2019,2200.0,...,17.51,N,09/18/2019,220,Burglary,3111039.0,3111039.0,30.364987,-97.750587,"(30.36498691, -97.75058749)"

In [40]:
austin.dtypes

Incident Number                        string
Highest Offense Description            object
Highest Offense Code                    int64
Family Violence                        object
Occurred Date Time             datetime64[ns]
Occurred Date                          object
Occurred Time                         float64
Report Date Time               datetime64[ns]
Report Date                            object
Report Time                           float64
Location Type                          object
Address                                object
Zip Code                              float64
Council District                      float64
APD Sector                             object
APD District                           object
PRA                                    object
Census Tract                          float64
Clearance Status                       object
Clearance Date                         object
UCR Category                           object
Category Description                   object
X-coordinate                          float64
Y-coordinate                          float64
Latitude                              float64
Longitude                             float64
Location                               object
dtype: object

In [41]:
#personal preference
austin.columns = austin.columns.str.lower().str.replace(' ', '_')

In [42]:
#data in sql is up to 6/29/20
austin = austin[austin.report_date_time >= '2020-09-26']
austin.reset_index(drop = True, inplace = True)

In [43]:
min(austin['occurred_date_time'])

Timestamp('2003-02-15 12:00:00')

In [44]:
max(austin['occurred_date_time'])

Timestamp('2021-07-03 20:15:00')

In [45]:
min(austin['report_date_time'])

Timestamp('2020-09-26 00:03:00')

In [46]:
max(austin['report_date_time'])

Timestamp('2021-07-03 21:30:00')

In [47]:
austin.shape

(75141, 27)

In [48]:
austin.head()

,incident_number,highest_offense_description,highest_offense_code,family_violence,occurred_date_time,occurred_date,occurred_time,report_date_time,report_date,report_time,...,census_tract,clearance_status,clearance_date,ucr_category,category_description,x-coordinate,y-coordinate,latitude,longitude,location
0,20203061289,SEXUAL ASSAULT W/ OBJECT,1700,N,2020-10-30 23:00:00,10/30/2020,2300.0,2020-11-01 15:52:00,11/01/2020,1552.0,...,NaN,N,11/02/2020,11C,Rape,0.0,0.0,NaN,NaN,NaN
1,20205043491,IDENTITY THEFT,4022,N,2020-10-27 23:16:00,10/27/2020,2316.0,2020-10-27 23:16:00,10/27/2020,2316.0,...,NaN,N,11/04/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20205044863,PROTECTIVE ORDER,3829,N,2020-11-05 11:19:00,11/05/2020,1119.0,2020-11-05 11:19:00,11/05/2020,1119.0,...,NaN,N,11/05/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20202910633,ASSAULT W/INJURY-FAM/DATE VIOL,900,Y,2020-10-16 19:00:00,10/16/2020,1900.0,2020-10-17 12:55:00,10/17/2020,1255.0,...,NaN,N,11/03/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20215015781,IDENTITY THEFT,4022,N,2021-04-01 12:00:00,04/01/2021,1200.0,2021-04-21 14:40:00,04/21/2021,1440.0,...,23.18,N,05/10/2021,NaN,NaN,3126219.0,3126219.0,30.228632,-97.706155,"(30.22863192, -97.70615517)"

In [49]:
#checking that time and crime present in every column
austin.count()

incident_number                75141
highest_offense_description    75141
highest_offense_code           75141
family_violence                75141
occurred_date_time             75141
occurred_date                  75141
occurred_time                  75141
report_date_time               75141
report_date                    75141
report_time                    75141
location_type                  75072
address                        75141
zip_code                       74354
council_district               74192
apd_sector                     74616
apd_district                   74600
pra                            74520
census_tract                   60491
clearance_status               63815
clearance_date                 63813
ucr_category                   29940
category_description           29940
x-coordinate                   74559
y-coordinate                   74559
latitude                       73673
longitude                      73673
location                       73673
dtype: int64

In [50]:
austin.to_csv("Data_Clean/Austin.csv")

# Baton Rouge, LA

In [51]:
#dont seem to have reported on date

In [52]:
baton_rouge = pd.read_csv("Baton_Rouge_Data/Baton_Rouge_Crime_Incidents.csv", dtype = {0 : "string"}, parse_dates= {"occurred" : [1, 2]})
#retrieved on 7/10/21

In [53]:
baton_rouge.head()

,occurred,FILE NUMBER,CRIME,COMMITTED,OFFENSE,OFFENSE DESCRIPTION,FULL ADDRESS,ADDRESS NUMBER,STREET DIRECTION,STREET NAME,...,CITY,STATE,ZIP CODE,DISTRICT,ZONE,SUBZONE,COMPLETE DISTRICT,COUNCIL DISTRICT,CRIME PREVENTION DISTRICT,GEOLOCATION
0,04/11/2020 1645,<NA>,SEXUAL ASSAULT,COMMITTED,14:43.1,BATT/SEXUAL,NaN,NaN,NaN,NaN,...,NaN,NaN,70802.0,2,C,1,2C1,10.0,NONE,NaN
1,10/28/2019 2248,<NA>,JUVENILE,COMMITTED,14:81,IND BEHAVIOR W/JUV,NaN,NaN,NaN,NaN,...,NaN,NaN,70807.0,4,B,3,4B3,2.0,NONE,NaN
2,11/05/2019 0537,<NA>,SEXUAL ASSAULT,COMMITTED,14:43.1,BATT/SEXUAL,NaN,NaN,NaN,NaN,...,NaN,NaN,70802.0,1,A,1,1A1,10.0,NONE,NaN
3,11/09/2019 2345,<NA>,SEXUAL ASSAULT,ATTEMPTED,14:42.1/B,RAPE/ATT FORCIBLE,NaN,NaN,NaN,NaN,...,NaN,NaN,70816.0,3,E,5,3E5,8.0,NONE,NaN
4,03/14/2020 1657,<NA>,JUVENILE,COMMITTED,14:81,IND BEHAVIOR W/JUV,NaN,NaN,NaN,NaN,...,NaN,NaN,70805.0,NaN,NaN,NaN,NaN,7.0,NONE,NaN

In [54]:
baton_rouge.dtypes

occurred                      object
FILE NUMBER                   string
CRIME                         object
COMMITTED                     object
OFFENSE                       object
OFFENSE DESCRIPTION           object
FULL ADDRESS                  object
ADDRESS NUMBER               float64
STREET DIRECTION              object
STREET NAME                   object
STREET TYPE                   object
CITY                          object
STATE                         object
ZIP CODE                     float64
DISTRICT                      object
ZONE                          object
SUBZONE                       object
COMPLETE DISTRICT             object
COUNCIL DISTRICT             float64
CRIME PREVENTION DISTRICT     object
GEOLOCATION                   object
dtype: object

In [55]:
baton_rouge.shape

(490578, 21)

In [56]:
baton_rouge.columns = baton_rouge.columns.str.lower().str.replace(" ", "_")

In [57]:
#checking that all items in occurred column are correct format, so that they can be converted to datetime type
baton_rouge = baton_rouge[baton_rouge["occurred"].str.match(r'[\d]{2}/[\d]{2}/[\d]{4} [\d]{4}')]

In [58]:
baton_rouge["occurred"] = pd.to_datetime(baton_rouge["occurred"])

In [59]:
#checking that time and crime present in every column
baton_rouge.count()

occurred                     490558
file_number                  483246
crime                        490558
committed                    490558
offense                      490558
offense_description          490558
full_address                 483246
address_number               482429
street_direction              80241
street_name                  483246
street_type                  466647
city                         483246
state                        483246
zip_code                     487512
district                     467436
zone                         467436
subzone                      467436
complete_district            467436
council_district             487243
crime_prevention_district    487253
geolocation                  483246
dtype: int64

In [60]:
baton_rouge.to_csv("Data_Clean/Baton_Rouge.csv")

# Boston, MA

In [61]:
#doesnt have reported on date

In [62]:
boston_2021 = pd.read_csv("Boston_Data/tmpp_u7gs36.csv", dtype= {0: "string"}, parse_dates= [7])
#retrieved 7/15/21

In [63]:
boston_2021.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,PLTEST003,3114,NaN,INVESTIGATE PROPERTY,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.3336792181085, -71.0918775461846)"
1,PLTEST002,3114,NaN,INVESTIGATE PROPERTY,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.3336792181085, -71.0918775461846)"
2,PLTEST001,3114,NaN,INVESTIGATE PROPERTY,B2,,0,2021-03-29 00:00:00,2021,3,Monday,0,NaN,SCHROEDER PLAZA,0.000000,0.000000,"(0, 0)"
3,312030979,3201,NaN,PROPERTY - LOST/ MISSING,E13,465,0,2021-03-22 00:00:00,2021,3,Monday,0,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.2848257658049, -71.091373689388)"
4,212996778,3301,NaN,VERBAL DISPUTE,C6,204,0,2021-02-01 06:20:00,2021,2,Monday,6,NaN,GILLETTE PARK,42.344125,-71.056853,"(42.3441248392933, -71.0568533916328)"

In [64]:
boston_2021.shape

(36096, 17)

In [65]:
boston_2021.columns = boston_2021.columns.str.lower()

In [66]:
#incident_number = PLTEST... dont look like real crimes, might want to drop

In [67]:
min(boston_2021['occurred_on_date'])

Timestamp('2021-01-01 00:00:00')

In [68]:
max(boston_2021['occurred_on_date'])

Timestamp('2021-07-14 00:19:00')

In [69]:
boston_2021.count()

incident_number        36096
offense_code           36096
offense_code_group         0
offense_description    36096
district               35204
reporting_area         36096
shooting               36096
occurred_on_date       36096
year                   36096
month                  36096
day_of_week            36096
hour                   36096
ucr_part                   0
street                 35417
lat                    36096
long                   36096
location               36096
dtype: int64

In [70]:
#drop empty columns
boston_2021.dropna(how = "all", axis = 1, inplace = True)

In [71]:
boston_2020 = pd.read_csv("Boston_Data/script_113631134_20210423193017_combine.csv", dtype={0: "string"}, parse_dates= [7])
#retrieved 7/15/2021

In [72]:
boston_2020.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,854652314,3115,NaN,INVESTIGATE PERSON,B2,289,0,2020-02-20 00:00:00,2020,2,Thursday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.3336792181085, -71.0918775461846)"
1,457856954,3115,NaN,INVESTIGATE PERSON,B2,289,0,2020-02-21 01:42:00,2020,2,Friday,1,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.3336792181085, -71.0918775461846)"
2,302030654,1106,NaN,FRAUD - CREDIT CARD / ATM FRAUD,D4,167,0,2020-04-24 13:00:00,2020,4,Friday,13,NaN,MASSACHUSETTS AVE,42.339542,-71.069409,"(42.3395419898301, -71.0694087696754)"
3,212025777,1108,NaN,FRAUD - WELFARE,A7,28,0,2020-05-01 00:00:00,2020,5,Friday,0,NaN,TRENTON ST,42.370818,-71.039291,"(42.3708180467024, -71.0392907813515)"
4,212025557,2670,NaN,HARASSMENT/ CRIMINAL HARASSMENT,A1,77,0,2020-09-07 00:00:00,2020,9,Monday,0,NaN,PRINCE ST,42.361839,-71.059765,"(42.3618385665647, -71.0597648909416)"

In [73]:
boston_2020.shape

(70894, 17)

In [74]:
boston_2020.dtypes

INCIDENT_NUMBER                string
OFFENSE_CODE                    int64
OFFENSE_CODE_GROUP            float64
OFFENSE_DESCRIPTION            object
DISTRICT                       object
REPORTING_AREA                 object
SHOOTING                        int64
OCCURRED_ON_DATE       datetime64[ns]
YEAR                            int64
MONTH                           int64
DAY_OF_WEEK                    object
HOUR                            int64
UCR_PART                      float64
STREET                         object
Lat                           float64
Long                          float64
Location                       object
dtype: object

In [75]:
boston_2020.columns = boston_2020.columns.str.lower()

In [76]:
min(boston_2020['occurred_on_date'])

Timestamp('2020-01-01 00:00:00')

In [77]:
max(boston_2020['occurred_on_date'])

Timestamp('2020-12-31 23:55:00')

In [78]:
boston_2020.count()

incident_number        70894
offense_code           70894
offense_code_group         0
offense_description    70894
district               70616
reporting_area         70894
shooting               70894
occurred_on_date       70894
year                   70894
month                  70894
day_of_week            70894
hour                   70894
ucr_part                   0
street                 70893
lat                    70894
long                   70894
location               70894
dtype: int64

In [79]:
boston_2020.dropna(how = "all", axis = 1, inplace = True)

In [80]:
#check both dfs have same columns
diff = boston_2021.columns.difference(boston_2020.columns)
diff

Index([], dtype='object')

In [81]:
#combine dfs
start = boston_2020.shape[0]
stop = boston_2020.shape[0] + boston_2021.shape[0]
boston_2021.index = range(start, stop)
boston_list = [boston_2020, boston_2021]
boston = pd.concat(boston_list)
boston.shape

(106990, 15)

In [82]:
boston.to_csv("Data_Clean/Boston.csv")

# Chicago, IL

In [83]:
#Reported from 09/25/2020 to 07/18/2021

In [84]:
chicago = pd.read_csv("Chicago_Data/Crimes_-_2001_to_Present.csv", parse_dates = [2, 18])
#retrieved 7/19/21

In [85]:
chicago.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,2015-09-05 13:30:00,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,12.0,61.0,08B,1165074.0,1875917.0,2015,2018-02-10 15:50:01,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,2015-09-04 11:30:00,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,29.0,25.0,06,1138875.0,1904869.0,2015,2018-02-10 15:50:01,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,2018-09-01 00:01:00,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44.0,06,NaN,NaN,2018,2019-04-06 16:04:43,NaN,NaN,NaN
3,10224740,HY411595,2015-09-05 12:45:00,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,35.0,21.0,18,1152037.0,1920384.0,2015,2018-02-10 15:50:01,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,2015-09-05 13:00:00,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,28.0,25.0,08A,1141706.0,1900086.0,2015,2018-02-10 15:50:01,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [86]:
chicago.dtypes

ID                               int64
Case Number                     object
Date                    datetime64[ns]
Block                           object
IUCR                            object
Primary Type                    object
Description                     object
Location Description            object
Arrest                            bool
Domestic                          bool
Beat                             int64
District                       float64
Ward                           float64
Community Area                 float64
FBI Code                        object
X Coordinate                   float64
Y Coordinate                   float64
Year                             int64
Updated On              datetime64[ns]
Latitude                       float64
Longitude                      float64
Location                        object
dtype: object

In [87]:
chicago = chicago[chicago['Updated On'] >= "2020-09-25"]
chicago.reset_index(drop = True, inplace = True)

In [88]:
chicago.shape

(167952, 22)

In [89]:
chicago.to_csv("Chicago_Data/Chicago.csv")

In [90]:
#chicago = pd.read_csv("Chicago_Data/Chicago.csv")

In [91]:
chicago.columns = chicago.columns.str.lower().str.replace(" ", "_")

In [92]:
chicago.updated_on.min()

Timestamp('2020-09-25 15:48:19')

In [93]:
chicago.updated_on.max()

Timestamp('2021-07-18 16:56:02')

In [94]:
chicago.count()

id                      167952
case_number             167952
date                    167952
block                   167952
iucr                    167952
primary_type            167952
description             167952
location_description    166856
arrest                  167952
domestic                167952
beat                    167952
district                167952
ward                    167894
community_area          167901
fbi_code                167952
x_coordinate            163757
y_coordinate            163757
year                    167952
updated_on              167952
latitude                163757
longitude               163757
location                163757
dtype: int64

In [95]:
min(chicago["date"])

Timestamp('2001-01-01 00:00:00')

In [96]:
max(chicago["date"])

Timestamp('2021-07-11 23:55:00')

In [97]:
chicago.to_csv("Data_Clean/Chicago.csv")

# Cincinnati, OH

In [98]:
#Reported between 10/02/2020 and 07/14/2021

In [99]:
cincinnati = pd.read_csv("Cincinnati_Data/PDI__Police_Data_Initiative__Crime_Incidents.csv", dtype= {1 : "string"}, parse_dates= [2, 3, 4])
#retrieved 7/16/21
#throws warning re: column 8, 17; can fix if we end up using these (beat, rpt_area)

C:\Users\arezn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [100]:
cincinnati.head()

,INSTANCEID,INCIDENT_NO,DATE_REPORTED,DATE_FROM,DATE_TO,CLSD,UCR,DST,BEAT,OFFENSE,...,VICTIM_GENDER,SUSPECT_AGE,SUSPECT_RACE,SUSPECT_ETHNICITY,SUSPECT_GENDER,TOTALNUMBERVICTIMS,TOTALSUSPECTS,UCR_GROUP,COMMUNITY_COUNCIL_NEIGHBORHOOD,ZIP
0,75092BE1-203C-4251-A197-6A4CD492E803,129023054,2012-08-15 19:40:00,2012-08-15 01:00:00,08/15/2012 09:00:00 AM,Z--EARLY CLOSED,551.0,2,1,BURGLARY,...,FEMALE,UNKNOWN,NaN,NaN,NaN,1.0,NaN,BURGLARY/BREAKING ENTERING,NaN,45206.0
1,D229DDF6-0F66-4AC5-AD13-7F83D2566A91,179006481,2017-03-02 17:16:00,2017-03-02 17:10:00,03/02/2017 05:15:00 PM,J--CLOSED,810.0,3,2,ASSAULT,...,MALE,31-40,WHITE,NOT OF HISPANIC ORIG,MALE,1.0,1.0,PART 2 MINOR,NaN,45205.0
2,961D1BFE-C1BB-4B44-A8F9-2599F7C83249,179020029,2017-06-01 10:35:00,2017-06-01 10:25:00,06/01/2017 10:30:00 AM,J--CLOSED,600.0,5,2,THEFT,...,MALE,UNKNOWN,NaN,NaN,NaN,1.0,NaN,THEFT,NaN,45225.0
3,847165DB-0557-4E36-8692-900D6C456055,129005579,2012-03-04 03:11:00,2012-03-04 03:10:00,03/04/2012 03:11:00 AM,F--CLEARED BY ARREST - ADULT,301.0,5,1,ROBBERY,...,MALE,UNKNOWN,UNKNOWN,UNKNOWN,MALE,1.0,1.0,ROBBERY,NaN,45219.0
4,C1292536-04EB-42BC-9B80-263D731ABD0E,179053792,2017-12-17 09:53:00,2017-12-10 18:00:00,12/11/2017 08:00:00 AM,Z--EARLY CLOSED,600.0,5,2,THEFT,...,MALE,UNKNOWN,NaN,NaN,NaN,2.0,NaN,THEFT,NaN,45225.0

In [101]:
cincinnati.columns = cincinnati.columns.str.lower()

In [102]:
cincinnati.dtypes

instanceid                                object
incident_no                               string
date_reported                     datetime64[ns]
date_from                         datetime64[ns]
date_to                                   object
clsd                                      object
ucr                                      float64
dst                                       object
beat                                      object
offense                                   object
location                                  object
theft_code                                object
floor                                     object
side                                      object
opening                                   object
hate_bias                                 object
dayofweek                                 object
rpt_area                                  object
cpd_neighborhood                          object
sna_neighborhood                          object
weapons                                   object
date_of_clearance                         object
hour_from                                float64
hour_to                                  float64
address_x                                 object
longitude_x                              float64
latitude_x                               float64
victim_age                                object
victim_race                               object
victim_ethnicity                          object
victim_gender                             object
suspect_age                               object
suspect_race                              object
suspect_ethnicity                         object
suspect_gender                            object
totalnumbervictims                       float64
totalsuspects                            float64
ucr_group                                 object
community_council_neighborhood            object
zip                                      float64
dtype: object

In [103]:
#filter out items already in SQL db
cincinnati = cincinnati[cincinnati['date_reported'] >= '2020-10-02']
cincinnati.reset_index(drop = True, inplace = True)

In [104]:
min(cincinnati["date_reported"])

Timestamp('2020-10-02 00:20:00')

In [105]:
max(cincinnati["date_reported"])

Timestamp('2021-07-14 02:41:05')

In [106]:
cincinnati.shape

(24515, 40)

In [107]:
cincinnati["date_to"] = pd.to_datetime(cincinnati["date_to"])

In [108]:
min(cincinnati["date_from"])

Timestamp('1991-01-01 00:00:00')

In [109]:
max(cincinnati["date_from"])

Timestamp('2021-07-14 01:00:00')

In [110]:
cincinnati.count()

instanceid                        24515
incident_no                       24515
date_reported                     24515
date_from                         24515
date_to                           24488
clsd                              23960
ucr                               24504
dst                               24515
beat                              24445
offense                           24505
location                          24514
theft_code                         8084
floor                              1855
side                               1868
opening                            1288
hate_bias                         24514
dayofweek                         23807
rpt_area                          24224
cpd_neighborhood                  24214
sna_neighborhood                  21752
weapons                           24513
date_of_clearance                 21893
hour_from                         24515
hour_to                           24488
address_x                         24251
longitude_x                       21569
latitude_x                        21569
victim_age                        24514
victim_race                       21320
victim_ethnicity                  21321
victim_gender                     21321
suspect_age                       24515
suspect_race                      13514
suspect_ethnicity                 13514
suspect_gender                    13514
totalnumbervictims                24464
totalsuspects                     13513
ucr_group                         24504
community_council_neighborhood    21752
zip                               24373
dtype: int64

In [111]:
#drop all rows with no crime listed
cincinnati.dropna(subset = ['offense'], inplace= True)

In [112]:
cincinnati.to_csv("Data_Clean/Cincinnati.csv")

# Dallas, TX

In [113]:
# Reported between 10/08/2020 - 07/16/2021

In [114]:
dallas = pd.read_csv("Dallas_Data/Police_Incidents.csv", parse_dates= [17, 23, 30])
#retrieved 7/16/21
#error for columns: Special Report (Pre-RMS), Victim Zip Code, Victim Business Phone, Reviewing Officer Badge No

C:\Users\arezn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (41,52,57,64) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [115]:
dallas.head()

,Incident Number w/year,Year of Incident,Service Number ID,Watch,Call (911) Problem,Type of Incident,Type Location,Type of Property,Incident Address,Apartment Number,...,NIBRS Code,NIBRS Group,NIBRS Type,Update Date,X Coordinate,Y Cordinate,Zip Code,City,State,Location1
0,231703-2016,2016,231703-2016-01,1,11V - BURG MOTOR VEH,BMV (OF AUTO ACCESSORY) (P.C. 30.04(A)),Apartment Parking Lot,NaN,13525 KIT LN,207,...,NaN,NaN,NaN,2016-10-04 07:56:32.0000000,2.501256e+06,7.026086e+06,75240.0,DALLAS,TX,"13525 KIT LN\nDALLAS, TX 75240\n(32.930649, -9..."
1,035860-2019,2019,035860-2019-01,3,11V - BURG MOTOR VEH,BMV,NaN,NaN,1300 N FITZHUGH AVE,NaN,...,23F,A,Coded,2019-03-01 12:35:25.0000000,2.499307e+06,6.979369e+06,75204.0,DALLAS,TX,"1300 N FITZHUGH AVE\nDALLAS, TX 75204\n(32.802..."
2,040250-2020,2020,040250-2020-01,2,40/01 - OTHER,UNEXPLAINED DEATH (NO OFFENSE),NaN,NaN,8728 FENCHURCH RD,NaN,...,999,C,999 - No Coded,2020-07-03 11:11:28.0000000,2.516451e+06,7.003242e+06,75238.0,DALLAS,TX,"8728 FENCHURCH RD\nDALLAS, TX 75238\n(32.86773..."
3,065826-2019,2019,065826-2019-01,1,27 - DEAD PERSON,UNEXPLAINED DEATH (NO OFFENSE),NaN,NaN,5353 KELLER SPRINGS RD,714,...,999,C,999 - No Coded,2019-05-02 20:59:53.0000000,2.484702e+06,7.039812e+06,75248.0,DALLAS,TX,"5353 KELLER SPRINGS RD\nDALLAS, TX 75248\n(32...."
4,033439-2019,2019,033439-2019-01,2,40/01 - OTHER,UNEXPLAINED DEATH (NO OFFENSE),NaN,NaN,11209 LANEWOOD CIR,NaN,...,999,C,999 - No Coded,2019-05-02 20:23:11.0000000,2.524465e+06,6.999501e+06,75218.0,DALLAS,TX,"11209 LANEWOOD CIR\nDALLAS, TX 75218\n(32.8567..."

In [116]:
dallas.shape

(794290, 100)

In [117]:
pd.set_option('display.max_rows', 100)

In [118]:
dallas.dtypes

Incident Number w/year                               object
Year of Incident                                      int64
Service Number ID                                    object
Watch                                                 int64
Call (911) Problem                                   object
Type of Incident                                     object
Type  Location                                       object
Type of Property                                     object
Incident Address                                     object
Apartment Number                                     object
Reporting Area                                      float64
Beat                                                float64
Division                                             object
Sector                                              float64
Council District                                     object
Target Area Action Grids                             object
Community                                            object
Date1 of Occurrence                          datetime64[ns]
Year1 of Occurrence                                   int64
Month1 of Occurence                                  object
Day1 of the Week                                     object
Time1 of Occurrence                                  object
Day1 of the Year                                      int64
Date2 of Occurrence                          datetime64[ns]
Year2 of Occurrence                                 float64
Month2 of Occurence                                  object
Day2 of the Week                                     object
Time2 of Occurrence                                  object
Day2 of the Year                                    float64
Date of Report                                       object
Date incident created                        datetime64[ns]
Offense Entered Year                                  int64
Offense Entered Month                                object
Offense Entered Day of the Week                      object
Offense Entered Time                                 object
Offense Entered  Date/Time                            int64
CFS Number                                           object
Call Received Date Time                              object
Call Date Time                                       object
Call Cleared Date Time                               object
Call Dispatch Date Time                              object
Special Report (Pre-RMS)                             object
Person Involvement Type                              object
Victim Type                                          object
Victim Name                                          object
Victim Race                                          object
Victim Ethnicity                                     object
Victim Gender                                        object
Victim Age                                          float64
Victim Age at Offense                               float64
Victim Home Address                                  object
Victim Apartment                                     object
Victim Zip Code                                      object
Victim City                                          object
Victim State                                         object
Victim Business Name                                 object
Victim Business Address                              object
Victim Business Phone                                object
Responding Officer #1  Badge No                      object
Responding Officer #1  Name                          object
Responding Officer #2 Badge No                       object
Responding Officer #2  Name                          object
Reporting Officer Badge No                           object
Assisting Officer Badge No                           object
Reviewing Officer Badge No                           object
Element Number Assigned                              object
Investigating Unit 1                                 object
Investigating Unit 2                                 object
Offense Status                                       object
UCR Disposition                                      object
Victim Injury Description                            object
Victim Condition                                     object
Modus Operandi (MO)                                  object
Family Offense                                       object
Hate Crime                                           object
Hate Crime Description                               object
Weapon Used                                          object
Gang Related Offense                                 object
Victim Package                                      float64
Drug Related Istevencident                           object
RMS Code                                             object
Criminal Justice Information Service Code             int64
Penal Code                                           object
UCR Offense Name                                     object
UCR Offense Description                              object
 UCR Code                                           float64
Offense Type                                         object
NIBRS Crime                                          object
NIBRS Crime Category                                 object
NIBRS Crime Against                                  object
NIBRS Code                                           object
NIBRS Group                                          object
NIBRS Type                                           object
Update Date                                          object
X Coordinate                                        float64
Y Cordinate                                         float64
Zip Code                                            float64
City                                                 object
State                                                object
Location1                                            object
dtype: object

In [119]:
dallas.columns = dallas.columns.str.lower().str.replace(" ", "_")

In [120]:
#filter out data already in sql db
dallas["date_of_report"] = pd.to_datetime(dallas["date_of_report"])
dallas = dallas[dallas["date_of_report"] >= "2020-10-08"]
dallas.reset_index(drop = True, inplace = True)

In [121]:
min(dallas["date_of_report"])

Timestamp('2020-10-08 00:09:00')

In [122]:
max(dallas["date_of_report"])

Timestamp('2021-07-16 01:54:00')

In [123]:
dallas.shape

(109832, 100)

In [124]:
#check that every row has date and crime also for empty columns
dallas.count()

incident_number_w/year                       109832
year_of_incident                             109832
service_number_id                            109832
watch                                        109832
call_(911)_problem                            96467
type_of_incident                             109832
type__location                               109802
type_of_property                              18012
incident_address                             109623
apartment_number                              27501
reporting_area                               109560
beat                                         109718
division                                     109718
sector                                       109746
council_district                             109199
target_area_action_grids                      37836
community                                     11193
date1_of_occurrence                          109832
year1_of_occurrence                          109832
month1_of_occurence                          109832
day1_of_the_week                             109832
time1_of_occurrence                          109832
day1_of_the_year                             109832
date2_of_occurrence_                         109829
year2_of_occurrence                          109829
month2_of_occurence                          109829
day2_of_the_week                             109829
time2_of_occurrence                          109829
day2_of_the_year                             109829
date_of_report                               109832
date_incident_created                        109832
offense_entered_year                         109832
offense_entered_month                        109832
offense_entered_day_of_the_week              109832
offense_entered_time                         109832
offense_entered__date/time                   109832
cfs_number                                    96467
call_received_date_time                       96467
call_date_time                                96467
call_cleared_date_time                        96436
call_dispatch_date_time                       96439
special_report_(pre-rms)                         82
person_involvement_type                      106350
victim_type                                  106340
victim_name                                  106141
victim_race                                   66822
victim_ethnicity                              66700
victim_gender                                 66834
victim_age                                    59892
victim_age_at_offense                         52457
victim_home_address                          104864
victim_apartment                              31732
victim_zip_code                              104332
victim_city                                  104822
victim_state                                 104429
victim_business_name                           6589
victim_business_address                        5438
victim_business_phone                          1293
responding_officer_#1__badge_no               96159
responding_officer_#1__name                   96159
responding_officer_#2_badge_no                39389
responding_officer_#2__name                   39389
reporting_officer_badge_no                    96246
assisting_officer_badge_no                    77098
reviewing_officer_badge_no                   109744
element_number_assigned                       96394
investigating_unit_1                          75023
investigating_unit_2                          75026
offense_status                               108956
ucr_disposition                              108975
victim_injury_description                      2333
victim_condition                                856
modus_operandi_(mo)                           96310
family_offense                                96403
hate_crime                                       76
hate_crime_description                       109802
weapon_used                                    9875
gang_related_offense                          22348
victim_package                                    0
drug_related_istevencident                    96395
rms_code                                     109832
criminal_justice_information_service_code    109832
penal_code                                   109832
ucr_offense_name                                  0
ucr_offense_description                           0
_ucr_code                                         0
offense_type                                      0
nibrs_crime                                  109832
nibrs_crime_category                         109832
nibrs_crime_against                          109832
nibrs_code                                   109832
nibrs_group                                  109832
nibrs_type                                   109832
update_date                                  109832
x_coordinate                                 109503
y_cordinate                                  109503
zip_code                                     109533
city                                         109618
state                                        107365
location1                                    109623
dtype: int64

In [125]:
#drop empty columns
dallas.dropna(how = "all", axis = 1, inplace = True)

In [126]:
dallas.to_csv("Data_Clean/Dallas.csv")

# Denver, CO

In [127]:
#Reported between 10/08/2020 and 07/15/2021

In [128]:
denver = pd.read_csv('Denver_Data/crime.csv', dtype= {0: "string", 1: "string"}, parse_dates= [6, 7, 8])
#retrieved 7/16/21

In [129]:
denver.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,2021224206,2021224206220200,2202,0,burglary-residence-by-force,burglary,2021-04-18 22:30:00,2021-04-19 05:00:00,2021-04-21 15:25:00,300 W 11TH AVE,3142828.0,1692472.0,-104.992161,39.733543,6.0,611.0,civic-center,1,0
1,2021225308,2021225308240400,2404,0,theft-of-motor-vehicle,auto-theft,2021-04-21 23:25:00,NaT,2021-04-22 00:01:00,5700 BLK W DARTMOUTH AVE,3124936.0,1664570.0,-105.056261,39.657203,4.0,423.0,bear-valley,1,0
2,20216009452,20216009452239900,2399,0,theft-other,larceny,2021-03-22 12:51:00,2021-03-22 12:51:00,2021-04-21 22:13:00,3412 N HUMBOLDT ST,3149191.0,1703917.0,-104.969299,39.764862,2.0,211.0,cole,1,0
3,20216009439,20216009439230500,2305,0,theft-items-from-vehicle,theft-from-motor-vehicle,2021-04-21 12:00:00,2021-04-21 12:05:00,2021-04-21 13:17:00,1900 BLK S CLARKSON ST,3146781.0,1673727.0,-104.978488,39.682023,3.0,313.0,platt-park,1,0
4,20218017976,20218017976240400,2404,0,theft-of-motor-vehicle,auto-theft,2021-03-09 12:01:00,2021-04-21 12:20:00,2021-04-21 12:20:00,24050 E 78TH AVE,3223419.0,1730557.0,-104.704438,39.836504,7.0,759.0,dia,1,0

In [130]:
denver.dtypes

INCIDENT_ID                       string
OFFENSE_ID                        string
OFFENSE_CODE                       int64
OFFENSE_CODE_EXTENSION             int64
OFFENSE_TYPE_ID                   object
OFFENSE_CATEGORY_ID               object
FIRST_OCCURRENCE_DATE     datetime64[ns]
LAST_OCCURRENCE_DATE      datetime64[ns]
REPORTED_DATE             datetime64[ns]
INCIDENT_ADDRESS                  object
GEO_X                            float64
GEO_Y                            float64
GEO_LON                          float64
GEO_LAT                          float64
DISTRICT_ID                      float64
PRECINCT_ID                      float64
NEIGHBORHOOD_ID                   object
IS_CRIME                           int64
IS_TRAFFIC                         int64
dtype: object

In [131]:
denver.columns = denver.columns.str.lower()

In [132]:
denver = denver[denver['reported_date'] >= "2020-10-08"]
denver.reset_index(drop = True, inplace = True)

In [133]:
min(denver['reported_date'])

Timestamp('2020-10-08 00:16:00')

In [134]:
max(denver['reported_date'])

Timestamp('2021-07-15 05:07:00')

In [135]:
denver.shape

(70955, 19)

In [136]:
denver.count()

incident_id               70955
offense_id                70955
offense_code              70955
offense_code_extension    70955
offense_type_id           70955
offense_category_id       70955
first_occurrence_date     70955
last_occurrence_date      34008
reported_date             70955
incident_address          66808
geo_x                     70420
geo_y                     70420
geo_lon                   70419
geo_lat                   70419
district_id               70954
precinct_id               70954
neighborhood_id           70954
is_crime                  70955
is_traffic                70955
dtype: int64

In [137]:
denver.to_csv("Data_Clean/Denver.csv")

# Fort Worth, TX

In [138]:
#Reported between 10/04/2020 and 07/11/2021

In [139]:
fort_worth = pd.read_csv("Forth_Worth_Data/Crime_Data.csv", dtype= {0: "string", 1: "string"}, parse_dates= [2, 4])
#retrieved 7/16/21

In [140]:
fort_worth.head()

,Case and Offense,Case Number,Reported Date,Nature Of Call,From Date,Offense,Description,Block Address,City,State,Beat,Division,Council District,Attempt Complete,Location Type,Location Description,Location
0,200051119-90Z,200051119,2020-07-04,PENAL CODE,2020-07-04 10:00:00,90Z,PC 21.07 Public Lewdness 90Z ALL OTHER OFFENSE...,1400 GREEN OAKS RD,FORT WORTH,TX,L11,West,3.0,C,24.0,24 SPECIALTY STORE,NaN
1,200085517-90Z,200085517,2020-11-03,HARASS,2020-08-12 05:18:00,90Z,PC 42.07(C) Harassment,1300 MARLBOROUGH DR,FORT WORTH,TX,I16,South,8.0,C,20.0,20 RESIDENCE/HOME,"(32.640426597727426, -97.33851074771222)"
2,190083263-WAR,190083263,2019-09-24,NARCOTIC VIOLATIONS,2019-09-24 22:30:00,WAR,OT WARRANT Out of Town Warrant WAR Warrants on...,SOUTH FWY,FORT WORTH,TX,I11,South,9.0,C,13.0,13 HIGHWAY/ROAD/ALLEY,NaN
3,190088406-13B,190088406,2019-10-10,SEXUAL ASSAULT,2019-10-10 21:56:32,13B,PC 22.01(A)(1)FV Aslt Causes B/I Family Member...,TANDY AVE / VIEW ST,FORT WORTH,TX,G11,NaN,NaN,C,8.0,08 DEPARTMENT/DISCOUNT STORE,NaN
4,190047946-35A,190047946,2019-06-04,NARCOTIC VIOLATIONS,2019-06-04 01:33:49,35A,HSC 481.117(B) Poss CS PG 3 <28G 35A DRUG/NARC...,OAK GROVE RD / E IH 20 FWY EB,NaN,TX,I17,NaN,NaN,C,13.0,13 HIGHWAY/ROAD/ALLEY,NaN

In [141]:
fort_worth.dtypes

Case and Offense                string
Case Number                     string
Reported Date           datetime64[ns]
Nature Of Call                  object
From Date               datetime64[ns]
Offense                         object
Description                     object
Block Address                   object
City                            object
State                           object
Beat                            object
Division                        object
Council District               float64
Attempt Complete                object
Location Type                  float64
Location Description            object
Location                        object
dtype: object

In [142]:
fort_worth.columns = fort_worth.columns.str.lower().str.replace(" ", "_")

In [143]:
fort_worth = fort_worth[fort_worth["reported_date"] >= "2020-10-04"]
fort_worth.reset_index(drop = True, inplace = True)

In [144]:
fort_worth['reported_date'].min()

Timestamp('2020-10-04 00:00:00')

In [145]:
fort_worth['reported_date'].max()

Timestamp('2021-07-11 00:00:00')

In [146]:
fort_worth.shape

(38359, 17)

In [147]:
fort_worth.count()

case_and_offense        38359
case_number             38359
reported_date           38359
nature_of_call          38359
from_date               38359
offense                 38359
description             38359
block_address           38359
city                    38301
state                   38339
beat                    38244
division                25966
council_district        26411
attempt_complete        38358
location_type           38357
location_description    38357
location                37751
dtype: int64

In [148]:
fort_worth.to_csv("Data_Clean/Fort_Worth.csv")

# Gainesville, FL

In [149]:
#Reported from 10/04/2020 to 07/13/2021

In [150]:
gainesville = pd.read_csv("Gainesville_Data/Crime_Responses.csv", dtype= {0: "string"}, parse_dates= [2, 3])
#retrieved 7/16/21

In [151]:
gainesville.head()

,ID,Incident Type,Report Date,Offense Date,Report Hour of Day,Report Day of Week,Offense Hour of Day,Offense Day of Week,City,State,Address,Latitude,Longitude,Location
0,221009134,Assist Other Agency,2021-07-02 01:00:00,2021-07-02 01:00:00,1,Friday,1,Friday,GAINESVILLE,FL,300 BLK SW WILLISTON RD,29.620543,-82.328759,POINT (-82.328759 29.620542999999998)
1,221009267,Domestic Aggravated Battery,2021-07-04 22:37:37,2021-07-04 21:24:36,22,Sunday,21,Sunday,GAINESVILLE,FL,100 BLK NW 39TH AVE,29.688534,-82.326069,POINT (-82.326069 29.688534000000004)
2,221009201,Assist Other Agency,2021-07-03 12:31:31,2021-07-03 12:25:08,12,Saturday,12,Saturday,GAINESVILLE,FL,200 BLK SE 16TH AVE,29.634039,-82.326408,POINT (-82.326408 29.634038999999998)
3,121009277,Assist Citizen,2021-07-05 03:27:51,2021-07-05 03:27:50,3,Monday,3,Monday,GAINESVILLE,FL,500 BLK NW 8TH AVE,29.659423,-82.329994,POINT (-82.329994 29.659423)
4,221009177,Warrant Arrest,2021-07-02 18:51:00,2021-07-02 18:51:00,18,Friday,18,Friday,GAINESVILLE,FL,1500 BLK N MAIN ST,29.665770,-82.324505,POINT (-82.324505 29.66577)

In [152]:
gainesville.dtypes

ID                             string
Incident Type                  object
Report Date            datetime64[ns]
Offense Date           datetime64[ns]
Report Hour of Day              int64
Report Day of Week             object
Offense Hour of Day             int64
Offense Day of Week            object
City                           object
State                          object
Address                        object
Latitude                      float64
Longitude                     float64
Location                       object
dtype: object

In [153]:
gainesville.columns = gainesville.columns.str.lower().str.replace(" ", "_")

In [154]:
gainesville = gainesville[gainesville['report_date'] >= '2020-10-04']
gainesville.reset_index(drop= True, inplace= True)

In [155]:
min(gainesville['report_date'])

Timestamp('2020-10-04 00:00:00')

In [156]:
max(gainesville['report_date'])

Timestamp('2021-07-13 00:42:52')

In [157]:
gainesville.shape

(9151, 14)

In [158]:
gainesville.count()

id                     9151
incident_type          9151
report_date            9151
offense_date           9151
report_hour_of_day     9151
report_day_of_week     9151
offense_hour_of_day    9151
offense_day_of_week    9151
city                   9131
state                  9151
address                9151
latitude               8988
longitude              8988
location               8984
dtype: int64

In [159]:
gainesville.to_csv("Data_Clean/Gainesville.csv")

# Los Angeles

In [160]:
#Reported from 09/28/2020 to 07/12/2021

In [161]:
los_angeles = pd.read_csv("Los_Angeles_Data/Crime_Data_from_2020_to_Present.csv", dtype= {0: "string"}, parse_dates= {"occurred": [2, 3]})
#retrieved 7/16/21

In [162]:
los_angeles.head()

,occurred,DR_NO,Date Rptd,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,01/08/2020 12:00:00 AM 2230,010304468,01/08/2020 12:00:00 AM,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,0444 0913,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,01/01/2020 12:00:00 AM 0330,190101086,01/02/2020 12:00:00 AM,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,0416 1822 1414,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,09/16/2020 12:00:00 AM 1230,201220752,09/16/2020 12:00:00 AM,12,77th Street,1259,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),2004 1820 0913 0329 1202,...,IC,Invest Cont,745.0,NaN,NaN,NaN,700 E 73RD ST,NaN,33.9739,-118.2630
3,01/01/2020 12:00:00 AM 1730,191501505,01/01/2020 12:00:00 AM,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1402,...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,01/01/2020 12:00:00 AM 0415,191921269,01/01/2020 12:00:00 AM,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [163]:
los_angeles.dtypes

occurred           object
DR_NO              string
Date Rptd          object
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

In [164]:
#fixing datetime format and changing column to datetime type
los_angeles['occurred'] = los_angeles['occurred'].str[:10] + los_angeles['occurred'].str[-5:]
los_angeles['occurred'] = pd.to_datetime(los_angeles['occurred'])

In [165]:
los_angeles.columns = los_angeles.columns.str.lower().str.replace(" ", "_")

In [166]:
los_angeles['date_rptd'] = pd.to_datetime(los_angeles['date_rptd'])

In [167]:
#filtering out all data already in sql db
los_angeles = los_angeles[los_angeles['date_rptd'] >= '2020-09-28']
los_angeles.reset_index(drop = True, inplace = True)

In [168]:
min(los_angeles['date_rptd'])

Timestamp('2020-09-28 00:00:00')

In [169]:
max(los_angeles['date_rptd'])

Timestamp('2021-07-12 00:00:00')

In [170]:
#checking that all rows have crime and time, also that there are no empty columns
los_angeles.count()

occurred          153321
dr_no             153321
date_rptd         153321
area              153321
area_name         153321
rpt_dist_no       153321
part_1-2          153321
crm_cd            153321
crm_cd_desc       153321
mocodes           131620
vict_age          153321
vict_sex          132583
vict_descent      132580
premis_cd         153317
premis_desc       153271
weapon_used_cd     55165
weapon_desc        55165
status            153321
status_desc       153321
crm_cd_1          153321
crm_cd_2           12308
crm_cd_3             416
crm_cd_4              18
location          153321
cross_street       27346
lat               153321
lon               153321
dtype: int64

In [171]:
los_angeles.to_csv('Data_Clean/Los_Angeles.csv')

# Nashville, TN

In [172]:
nashville = pd.read_csv("Nashville_Data/Metro_Nashville_Police_Department_Incidents.csv", dtype= {0: "string", 1: "string"}, parse_dates= [7, 8])
#retrieved 7/16/21

In [173]:
nashville.head()

,Primary Key,Incident Number,Report Type,Report Type Description,Incident Status Code,Incident Status Description,Investigation Status,Incident Occurred,Incident Reported,Incident Location,...,Weapon Description,Victim Number,Domestic Related,Victim Type,Victim Description,Victim Gender,Victim Race,Victim Ethnicity,Victim County Resident,Mapped Location
0,20210237359_11,20210237359,D,DISPATCHED,O,OPEN,Open,2021-04-27 08:00:00,04/28/2021 02:08:00 PM,DIVISION ST,...,NONE,1,False,I,INDIVIDUAL (18 AND OVER),M,W,Hispanic,NON RESIDENT,POINT (-86.78 36.15)
1,20210248988_12,20210248988,D,DISPATCHED,O,OPEN,Open,2021-05-04 15:07:00,05/04/2021 04:26:00 PM,SHELBY AVE,...,NONE,2,False,I,INDIVIDUAL (18 AND OVER),F,W,Non-Hispanic,RESIDENT,POINT (-86.75 36.17)
2,20150345704_11,20150345704,T,NaN,O,OPEN,Open,2015-04-13 15:00:00,04/13/2015 05:12:00 PM,180 WALLACE RD,...,NONE,1,False,I,INDIVIDUAL (18 AND OVER),M,W,Non-Hispanic,RESIDENT,NaN
3,20210247765_11,20210247765,O,NaN,O,OPEN,Open,2021-05-03 23:00:00,05/03/2021 11:49:00 PM,CLARKSVILLE PIKE,...,NONE,1,False,I,INDIVIDUAL (18 AND OVER),M,W,Non-Hispanic,RESIDENT,POINT (-86.9 36.32)
4,20210249540_11,20210249540,D,DISPATCHED,O,OPEN,Open,2021-05-04 23:45:00,05/05/2021 12:45:00 AM,UNIVERSITY CT,...,PERSONAL (HANDS),1,False,I,INDIVIDUAL (18 AND OVER),F,B,Non-Hispanic,RESIDENT,POINT (-86.77 36.15)

In [174]:
nashville.dtypes

Primary Key                            string
Incident Number                        string
Report Type                            object
Report Type Description                object
Incident Status Code                   object
Incident Status Description            object
Investigation Status                   object
Incident Occurred              datetime64[ns]
Incident Reported                      object
Incident Location                      object
Latitude                              float64
Longitude                             float64
ZIP Code                              float64
RPA                                   float64
Zone                                  float64
Location Code                         float64
Location Description                   object
Offense Number                        float64
Offense NIBRS                          object
Offense Description                    object
Weapon Primary                         object
Weapon Description                     object
Victim Number                           int64
Domestic Related                         bool
Victim Type                            object
Victim Description                     object
Victim Gender                          object
Victim Race                            object
Victim Ethnicity                       object
Victim County Resident                 object
Mapped Location                        object
dtype: object

In [175]:
nashville.columns = nashville.columns.str.lower().str.replace(" ", "_")

In [176]:
#change incident reported column to datetime
nashville.dropna(subset= ['incident_reported'], inplace= True)
nashville = nashville[nashville['incident_reported'].str.match(r'[\d]{2}/[\d]{2}/[\d]{4} [\d]{2}:[\d]{2}:[\d]{2}')]
nashville.drop(nashville[nashville['incident_reported'].str.contains("0202")].index, inplace= True)
nashville.drop(nashville[nashville['incident_reported'].str.contains("4240")].index, inplace = True)
nashville['incident_reported'] = pd.to_datetime(nashville['incident_reported'])
nashville.reset_index(drop= True, inplace = True)

In [177]:
#filtering out all data already in sql db
nashville = nashville[nashville['incident_reported'] >= '2020-10-07']
nashville.reset_index(drop = True, inplace = True)

In [178]:
nashville.incident_reported.min()

Timestamp('2020-10-07 00:00:00')

In [179]:
nashville.incident_reported.max()

Timestamp('2048-12-05 04:45:00')

In [180]:
nashville.shape

(82983, 31)

In [181]:
nashville.count()

primary_key                    82983
incident_number                82983
report_type                    82980
report_type_description        76154
incident_status_code           82982
incident_status_description    82982
investigation_status           82983
incident_occurred              82983
incident_reported              82983
incident_location              82683
latitude                       81993
longitude                      81993
zip_code                       39199
rpa                            77644
zone                           77644
location_code                  82983
location_description           82983
offense_number                 82976
offense_nibrs                  82981
offense_description            82983
weapon_primary                 82851
weapon_description             82784
victim_number                  82983
domestic_related               82983
victim_type                    82980
victim_description             82964
victim_gender                  64695
victim_race                    64695
victim_ethnicity               64675
victim_county_resident         62096
mapped_location                81993
dtype: int64

In [182]:
nashville.to_csv('Data_Clean/Nashville.csv')

# NYC

In [183]:
nyc_2021 = pd.read_csv("NYC_Data/NYPD_Complaint_Data_Current__Year_To_Date_.csv", dtype= {0: "string"}, parse_dates= {"complaint_from": [3, 4], "complaint_to": [5, 6]})
#retrieved 7/16/2021

In [184]:
nyc_2021.head()

,complaint_from,complaint_to,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,JURISDICTION_CODE,JURIS_DESC,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,2021-03-31 15:08:00,03/31/2021 15:12:00,825041611,84,BROOKLYN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,E,988041,191045,40.691059,-73.986331,"(40.69105856700002, -73.98633121699999)",POINT (-73.98633121699999 40.69105856700002)
1,2021-03-27 19:29:00,nan nan,206649900,7,NaN,NaN,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,25-44,WHITE HISPANIC,D,987818,200162,40.716083,-73.987131,"(40.71608268700004, -73.98713051799997)",POINT (-73.98713051799997 40.71608268700004)
2,2021-03-27 13:00:00,nan nan,294801329,75,NaN,COMPLETED,NaN,NaN,NaN,N.Y. POLICE DEPT,...,NaN,25-44,BLACK,M,1018889,182737,40.668188,-73.875137,"(40.66818803900002, -73.87513706799997)",POINT (-73.87513706799997 40.66818803900002)
3,2021-03-26 16:40:00,nan nan,270261096,14,MANHATTAN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,D,987220,212676,40.750431,-73.989282,"(40.75043076800005, -73.98928217599996)",POINT (-73.98928217599996 40.75043076800005)
4,2021-03-26 13:09:00,03/26/2021 14:29:00,433883572,110,QUEENS,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,D,1021552,212402,40.749601,-73.865373,"(40.74960053300003, -73.86537333399998)",POINT (-73.86537333399998 40.74960053300003)

In [185]:
nyc_2021.columns = nyc_2021.columns.str.lower()

In [186]:
nyc_2021.dtypes

complaint_from              datetime64[ns]
complaint_to                        object
cmplnt_num                          string
addr_pct_cd                          int64
boro_nm                             object
crm_atpt_cptd_cd                    object
hadevelopt                          object
housing_psa                        float64
jurisdiction_code                  float64
juris_desc                          object
ky_cd                                int64
law_cat_cd                          object
loc_of_occur_desc                   object
ofns_desc                           object
parks_nm                            object
patrol_boro                         object
pd_cd                              float64
pd_desc                             object
prem_typ_desc                       object
rpt_dt                              object
station_name                        object
susp_age_group                      object
susp_race                           object
susp_sex                            object
transit_district                   float64
vic_age_group                       object
vic_race                            object
vic_sex                             object
x_coord_cd                           int64
y_coord_cd                           int64
latitude                           float64
longitude                          float64
lat_lon                             object
new georeferenced column            object
dtype: object

In [187]:
nyc_2021['rpt_dt'] = pd.to_datetime(nyc_2021['rpt_dt'])

In [188]:
nyc_2020 = pd.read_csv("NYC_Data/NYPD_Complaint_Data_Historic.csv", dtype= {0: "string"}, parse_dates= {"complaint_from": [1, 2], "complaint_to": [3, 4]})
#retrieved 7/16/21

C:\Users\arezn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (18,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [189]:
nyc_2020.head()

,complaint_from,complaint_to,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,12/31/2019 17:30:00,nan nan,394506329,32.0,12/31/2019,118,DANGEROUS WEAPONS,793.0,WEAPONS POSSESSION 3,COMPLETED,...,NaN,NaN,40.820927,-73.943324,"(40.82092679700002, -73.94332421899996)",PATROL BORO MAN NORTH,NaN,UNKNOWN,UNKNOWN,E
1,12/29/2019 16:31:00,12/29/2019 16:54:00,968873685,47.0,12/29/2019,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,...,NaN,NaN,40.885701,-73.861640,"(40.885701406000074, -73.86164032499995)",PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,E
2,12/15/2019 18:45:00,nan nan,509837549,109.0,12/29/2019,578,HARRASSMENT 2,638.0,"HARASSMENT,SUBD 3,4,5",COMPLETED,...,M,NaN,40.742281,-73.819824,"(40.74228115600005, -73.81982408)",PATROL BORO QUEENS NORTH,NaN,25-44,WHITE HISPANIC,F
3,12/28/2019 01:00:00,nan nan,352454313,47.0,12/28/2019,126,MISCELLANEOUS PENAL LAW,117.0,RECKLESS ENDANGERMENT 1,COMPLETED,...,M,NaN,40.875311,-73.847545,"(40.87531145100007, -73.84754521099995)",PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,E
4,09/05/2008 21:41:00,nan nan,248803469,NaN,09/05/2008,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,40.698827,-73.938819,"(40.698827283, -73.938819047)",NaN,NaN,25-44,BLACK,M

In [190]:
nyc_2020.columns = nyc_2020.columns.str.lower()

In [191]:
nyc_2020['rpt_dt'] = pd.to_datetime(nyc_2020['rpt_dt'])

In [192]:
nyc_2020 = nyc_2020[nyc_2020['rpt_dt'] >= '2020-06-30']

In [193]:
nyc_2020.reset_index(drop = True, inplace = True)

In [194]:
nyc_2020.shape

(217626, 33)

In [195]:
nyc_2020.to_csv('NYC_Data/NYC_2020.csv')